<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.openindoormap.persistence.DesignLayerFileInfoMapper">

    <!-- design layer shape 파일 목록 -->
    <select id="getListDesignLayerFileInfo" parameterType="long" resultType="designLayerFileInfo">
        /* getListDesignLayerFileInfo */
        SELECT A.*, B.design_layer_name
        FROM design_layer_file_info A, design_layer B
        WHERE A.design_layer_id = B.design_layer_id
            AND A.design_layer_id = #{designLayerId}
            AND A.file_ext = 'shp'
        ORDER BY A.update_date DESC
    </select>
    
    <select id="getListDesignLayerFilePath" parameterType="long" resultType="string">
        /* getListDesignLayerFilePath */
        SELECT CONCAT(file_path, file_real_name)
        FROM design_layer_File_info
        WHERE design_layer_id =#{designLayerId}
    </select>

    <!-- 파일 정보 취득 -->
    <select id="getDesignLayerFileInfo" parameterType="long" resultType="designLayerFileInfo">
        /* getDesignLayerFileInfo */
        SELECT * FROM design_layer_file_info WHERE design_layer_file_info_id = #{designLayerFileInfoId}
    </select>

    <!-- design layer shape 그룹 파일 정보 -->
    <select id="getDesignLayerFileInfoTeam" parameterType="long" resultType="designLayerFileInfo">
        /* getDesignLayerFileInfoTeam */
        SELECT * FROM design_layer_file_info WHERE design_layer_file_info_team_id = #{designLayerFileInfoTeamId}
    </select>

    <!-- design layer shape 파일이 있는지 확인 -->
    <select id="isDesignLayerFileInfoExist" parameterType="long" resultType="boolean">
        /* isDesignLayerFileInfoExist */
        SELECT EXISTS(SELECT 1 FROM design_layer_file_info WHERE design_layer_id = #{designLayerId})
    </select>

    <!-- design layer shape 파일 version -->
    <select id="getDesignLayerShapeFileVersion" parameterType="long" resultType="int">
        /* getDesignLayerShapeFileVersion */
        SELECT version_id
        FROM design_layer_file_info
        WHERE design_layer_file_info_id = #{designLayerFileInfoId}
    </select>

    <!-- design 레이어별 shape 파일 version 최대값 + 1 을 취득 -->
    <select id="getMaxFileVersion" parameterType="long" resultType="int">
        /* getMaxFileVersion */
        SELECT MAX(version_id) FROM design_layer_file_info WHERE design_layer_id = #{designLayerId}
    </select>

    <!-- design 레이어 이력내 활성화 된 데이터 정보를 취득 -->
    <select id="getEnableDesignLayerFileInfo" parameterType="long" resultType="designLayerFileInfo">
        /* getEnableDesignLayerFileInfo */
        SELECT design_layer_file_info_id, design_layer_id, design_layer_file_info_team_id, version_id
        FROM design_layer_file_info
        WHERE design_layer_id = #{designLayerId}
            AND enable_yn = 'Y'
            AND file_ext = 'shp'
    </select>

    <!-- design layer shape 파일 정보 등록 -->
    <insert id="insertDesignLayerFileInfoMapper" parameterType="designLayerFileInfo">
        <selectKey keyProperty="designLayerFileInfoId" resultType="long" order="BEFORE">
            SELECT NEXTVAL('design_layer_file_info_seq')
        </selectKey>
        INSERT INTO design_layer_file_info (
            design_layer_file_info_id, design_layer_id, user_id, enable_yn, file_name, file_real_name, file_path, file_size, file_ext, shape_encoding, update_date
        ) VALUES (
            #{designLayerFileInfoId}, #{designLayerId}, #{userId}, #{enableYn}, #{fileName}, #{fileRealName}, #{filePath}, #{fileSize}, #{fileExt}, #{shapeEncoding}, NOW()
        )
    </insert>

    <!-- design layer shape 파일 정보 수정 -->
    <update id="updateDesignLayerFileInfo" parameterType="designLayerFileInfo">
        /* updateDesignLayerFileInfo */
        UPDATE design_layer_file_info
        SET user_id = #{userId},
            shape_encoding = #{shapeEncoding},
            update_date = NOW()
        WHERE design_layer_file_info_id = #{designLayerFileInfoId}
    </update>

    <!-- designLayerFileInfoTeamId에 의한 design layer shape 파일 정보 수정 -->
    <update id="updateDesignLayerFileInfoByTeamId" parameterType="designLayerFileInfo">
        /* updateDesignLayerFileInfoByTeamId */
        UPDATE design_layer_file_info
        SET enable_yn = 'Y'
        WHERE design_layer_id = #{designLayerId}
            AND design_layer_file_info_team_id = #{designLayerFileInfoTeamId}
    </update>

    <!-- designLayerId와 일치하는 모든 shape 파일의 상태를 design layer 비활성화로 함 -->
    <update id="updateDesignLayerFileInfoAllDisabledByDesignLayerId" parameterType="long">
        /* updateDesignLayerFileInfoAllDisabledByDesignLayerId */
        UPDATE design_layer_file_info SET enable_yn = 'N' WHERE design_layer_id = #{designLayerId}
    </update>

    <!-- 동일 그룹 designLayerFileInfo 정보 활성화로 수정(where 절 중복) -->
    <update id="updateDesignLayerFileInfoTeam" parameterType="map">
        /* updateDesignLayerFileInfoTeam */
        UPDATE design_layer_file_info
        SET design_layer_file_info_team_id = #{designLayerFileInfoTeamId},
            version_id = CAST(#{fileVersion} AS integer),
            enable_yn = 'Y',
            update_date = NOW()
            <!-- update_date = TO_TIMESTAMP(#{updateDate}, 'YYYYMMDDHH24MISSUS') -->
        WHERE design_layer_file_info_id IN
        <foreach collection="designLayerFileInfoTeamIdList" item="item" index="index" open="(" close=")" separator=",">
            #{item.value}
        </foreach>
    </update>

    <!-- 해당 design 레이어의 이전 데이터를 전부 비활성화 상태로 수정 -->
    <update id="updateLandPreDataDisable" parameterType="long">
        /* updateLandPreDataDisable */
        UPDATE design_layer_land SET enable_yn = 'N' WHERE design_layer_id = #{designLayerId}
    </update>

    <update id="updateBuildingPreDataDisable" parameterType="long">
        /* updateBuildingPreDataDisable */
        UPDATE design_layer_building SET enable_yn = 'N' WHERE design_layer_id = #{designLayerId}
    </update>

    <update id="updateBuildingHeightPreDataDisable" parameterType="long">
        /* updateBuildingHeightPreDataDisable */
        UPDATE design_layer_building_height SET enable_yn = 'N' WHERE design_layer_id = #{designLayerId}
    </update>

    <!--land 테이블을 데이터 버전 갱신 -->
    <update id="updateLandDataFileVersion" parameterType="int">
        /* updateLandDataFileVersion */
        UPDATE design_layer_land
        SET enable_yn = 'Y',
            version_id = #{fileVersion}
        WHERE version_id IS NULL
    </update>

    <!--building 테이블을 데이터 버전 갱신 -->
    <update id="updateBuildingDataFileVersion" parameterType="int">
        /* updateBuildingDataFileVersion */
        UPDATE design_layer_building
        SET enable_yn = 'Y',
            version_id = #{fileVersion}
        WHERE version_id IS NULL
    </update>

    <!--building height 테이블을 데이터 버전 갱신 -->
    <update id="updateBuildingHeightDataFileVersion" parameterType="int">
        /* updateBuildingHeightDataFileVersion */
        UPDATE design_layer_building_height
        SET enable_yn = 'Y',
            version_id = #{fileVersion}
        WHERE version_id IS NULL
    </update>

    <!-- shape 테이블 데이터 상태 변경 -->
    <update id="updateLandStatus" parameterType="int">
        /* updateLandStatus */
        UPDATE design_layer_land
        SET enable_yn = 'Y'
        WHERE version_id = #{fileVersion}
    </update>

    <update id="updateBuildingStatus" parameterType="int">
        /* updateBuildingStatus */
        UPDATE design_layer_building
        SET enable_yn = 'Y'
        WHERE version_id = #{fileVersion}
    </update>

    <update id="updateBuildingHeightStatus" parameterType="int">
        /* updateBuildingHeightStatus */
        UPDATE design_layer_building_height
        SET enable_yn = 'Y'
        WHERE version_id = #{fileVersion}
    </update>

    <!-- design 레이어 삭제 -->
    <delete id="deleteDesignLayerFileInfo" parameterType="long">
        /* deleteDesignLayerFileInfo */
        DELETE FROM design_layer_file_info WHERE design_layer_id = #{designLayerId}
    </delete>

    <!-- team id 로 design 레이어 파일 이력을 삭제 -->
    <delete id="deleteDesignLayerFileInfoByTeamId" parameterType="long">
        /* deleteDesignLayerFileInfoByTeamId */
        DELETE FROM design_layer_file_info WHERE design_layer_file_info_team_id = #{designLayerFileInfoTeamId}
    </delete>
</mapper>