< xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="designLayerContent" class="listContents" style="display:block;">
<!-- <ul class="listDrop">

	<li class="on">
		<p>디자인 레이어<span class="collapse-icon">icon</span></p>
    </li>
</ul> -->
       
	<div class="ds-modeler" style="border: 1px solid #efefef;padding:5px;">
		<!-- <h3 class="">디자인 레이어</h3> -->
		
		<div class="form-group form-group-data">
			<label for="urban-group1">신도시</label> 
			<select id="urban-group1" >
				<option value="">전체</option>
				<!-- by js -->
			</select>
		</div>
		<div class="form-group form-group-data">
			<label for="urban-group2">사업지구</label>
			<select id="urban-group2" >
				<option value="">전체</option>
				<!-- by js -->
			</select>
		</div>

		<div class="list">
			<div class="design-layers dataGroupSummary table-data-group-summary">
				<!-- by js -->
			</div>

		</div>
	</div>



	<!-- Rectangular switch -->
	<!-- <div style="margin-top:8px; margin-left:8px;">
		<input type="checkbox" class="ds-toggle-land-updown">
		전체 필지높이 조절		
	</div> -->
	<div style="margin-top:8px; margin-left:8px;">
		<button type="button" class="textBtnSub reset-xxx">전체 초기화</button>		
	</div>

	<div class="ds-tool marT10" style="border: 1px solid #efefef;padding:5px;">
		<h3 class="">도구</h3>
		<div class="">
			<button class="textBtnSub  design-layer-tool-none" style="display:none;">없음</button>
			<button class="textBtnSub  design-layer-tool-select">선택</button>
			<button class="textBtnSub  design-layer-tool-delete">삭제</button>
			<button class="textBtnSub  design-layer-tool-move">이동</button>
			<button class="textBtnSub  design-layer-tool-rotate">회전</button>
			<!-- <button class="textBtnSub  design-layer-tool-updown">건물높이조절</button> -->
			<!-- <button class="textBtnSub  design-layer-tool-intersection">필지정보조회</button> -->
			<!-- <button class="textBtnSub  design-layer-tool-landupdown">필지높이조절</button> -->
		</div>
	</div>


	<div class="ds-design-layer-building-updown mt-10" style="display: none;border: 1px solid #efefef;padding:5px;">
		<h3>건물 높이 변경</h3>
		<input type="number" class="ds-design-layer-building-floor-co form-group-data mt-10 col-width-50" value="0" min="0" max="100" step="1"/>
	</div>
	
	
	<div class="design-layer-land-wrapper">
		<a href="#top"></a>
		<div class="design-layer-land  dataGroupSummary table-data-group-summary"><!--by js--></div>
		
		<div class="pagination"></div>
	</div>

	<!--

		<div class="ds-category marT10" style="border: 1px solid #efefef;padding:5px;">
			<h3 class=" marT10">카테고리</h3>
			<div class="form-group form-group-data">
				<label for="before-category">변경전</label> 
				<input type="text" name="selectedDataLibrary" class="ds-selected-data-library" readonlye="readonly"/>
			</div>
			<div class="form-group form-group-data">
				<label for="after-category">변경후</label> <select id="after-category" name="searchDataGroup">
					<option value="">선택</option>
				</select>
			</div>
			
			<div class="form-group button-group-center">
				<button type="button" class="btnTextF ds-change-category" title="검색">변경</button>
			</div>
			
		</div>
	-->

<style>
.text-left {text-align:left !important;}
</style>	


<!--  -->
<script id="design-layer-template" type="text/x-handlebars-template">
<table class="table-word-break design-layers" summary="디자인 레이어 목록">
	<caption class="hiddenTag">디자인 레이어 목록</caption>
	<colgroup>
		<col class="col-width-15">
		<col class="col-number" width="*">
		<col class="col-width-15">
	</colgroup>
	<thead>
		<tr>
			<th scope="col" class="col-number">선택</th>
			<th scope="col" class="col-number"><!--디자인-->레이어명</th>
			<th scope="col" class="col-number">높이</th>
		</tr>
	</thead>
	<tbody>
		{{#if datas}}
			{{#each datas}}
			<tr data-design-layer-group-type="{{designLayerGroupType}}">
				<td class="toggle-design-layer"><input type="checkbox" name="design-layer-id" value="{{designLayerId}}"></td>
				<td class="toggle-design-layer text-left cursor-pointer">{{designLayerName}}</td>
				<td >
					{{#ifMatch designLayerGroupType 'land'}}
						<input type="checkbox" class="toggle-extrusion-model-height" value="{{designLayerId}}" disabled="disabled"/>
					{{/ifMatch}}
					{{#ifMatch designLayerGroupType 'building_height'}}
						<input type="checkbox" class="toggle-extrusion-model-height" value="{{designLayerId}}" disabled="disabled"/>
					{{/ifMatch}}
					<!-- building은 checkbox 없음 -->
				</td>
			</tr>
			{{/each}}
		{{else}}
			<tr>
				<td colspan="3">데이터가 없습니다.</td>
			</tr>
		{{/if}}
	</tbody>
</table>
</script>

<!--  -->
<script id="design-layer-land-template" type="text/x-handlebars-template">
	<div class="design-layer-land-modal" style="display: none;">
		<table class="table-word-break design-layer-land" summary="디자인 레이어 필지정보">
			<caption class="hiddenTag">디자인 레이어 필지정보</caption>
			<colgroup>
				<col class="col-width-25">
				<col class="col-number" width="*">
			</colgroup>
			<thead>
				<tr>
					<th>구분</th>
					<th>값</th>
				</tr>
			</thead>
			<tbody>
				
				<!--
					<tr>
						<td></td>
						<td>{{data.designLayerGroupId}} {{data.designLayerId}} {{data.designLayerLandId}}</td>
					</tr>				
				
					<tr>
						<td>사업유형</td>
						<td>{{data.projectType}}</td>
					</tr>
					<tr>
						<td>사업지구</td>
						<td>{{data.projectTitle}}</td>
					</tr>
					<tr>
						<td>가구번호</td>
						<td>{{data.blockCode}}</td>
					</tr>
					<tr>
						<td>획지번호</td>
						<td>{{data.lotCode}}</td>
					</tr>
					<tr>
						<td>획지면적</td>
						<td>{{data.lotArea}}</td>
					</tr>
					<tr>
						<td>용도지역</td>
						<td>{{data.landuseZoning}}</td>
					</tr>
					<tr>
						<td>토지이용</td>
						<td>{{data.landusePlan}}</td>
					</tr>
					<tr>
						<td>대지분할합필</td>
						<td>{{data.lotDivideMarge}}</td>
					</tr>
					<tr>
						<td>용도</td>
						<td>{{data.buildingUse}}</td>
					</tr>
					<tr>
						<td>용도-지정</td>
						<td>{{data.buildingUseDefined}}</td>
					</tr>
					<tr>
						<td>용도-권장</td>
						<td>{{data.buildingUseRecommended}}</td>
					</tr>
					<tr>
						<td>용도-허용</td>
						<td>{{data.buildingUseAllowed}}</td>
					</tr>
					<tr>
						<td>용도-제한</td>
						<td>{{data.buildingUseConditional}}</td>
					</tr>
					<tr>
						<td>용도-불허</td>
						<td>{{data.buildingUseForbidden}}</td>
					</tr>
					
					<tr>
						<td>용적률</td>
						<td>{{data.floorAreaRatio}}</td>
					</tr>
					
					<tr>
						<td>가구번호, 획지번호</td>
						<td>{{data.blockCode}} {{data.lotArea}}</td>
					</tr>
				-->
				<tr>
					<td>용적률-기준(%)</td>
					<td>{{data.floorAreaRatioStandard}}</td>
				</tr>
				<tr>
					<td>건폐율(%)</td>
					<td>{{data.buildingCoverageRatio}}</td>
				</tr>
				<tr>
					<td>현재용적률(%)</td>
					<td id="nowFloorCov">{{data.nowFloorCov}}</td>
				</tr>
				<tr>
					<td>현재건폐율(%)</td>
					<td id="nowBuildCov">{{data.nowBuildCov}}</td>
				</tr>
				<tr>
					<td>최고높이(층)</td>
					<td>{{data.maximumBuildingHeight}}</td>
				</tr>
				<tr>
					<td>최고층수(층)</td>
					<td>{{data.maximumBuildingFloors}}</td>
				</tr>
				<tr>
					<td>세대수(세대)</td>
					<td>{{data.numberOfHouseholds}}</td>
				</tr>
				<!--
					<tr>
						<td>용적률-허용</td>
						<td>{{data.floorAreaRatioAllowed}}</td>
					</tr>
					<tr>
						<td>용적률-상한</td>
						<td>{{data.floorAreaRatioMaximum}}</td>
					</tr>
					
					<tr>
						<td>주택유형</td>
						<td>{{data.housingType}}</td>
					</tr>
					
					<tr>
						<td>기준시점</td>
						<td>{{data.reference}}</td>
					</tr>
				</tbody>
				<tbody>
					
				</tbody>
			-->
			</table>
	</div>
</script>


<!--  -->
<script id="design-layer-modeless-template" type="text/x-handlebars-template">
	<div class="design-layer-modeless-wrapper" style="display: none;">
		<!--지역-->
		<div class="design-layer-urban-wrapper" style="display: none;">
			<h3>사업지구</h3>
			<table class="table-word-break design-layer-urban" summary="지역 정보">
				<caption class="hiddenTag">지역 정보</caption>
				<colgroup>
					<col class="col-width-25">
					<col class="col-number" width="*">
					<col class="col-width-25">
					<col class="col-number" width="*">
				</colgroup>
				<thead>
					<tr>
						<th>구분</th>
						<th>값</th>
						<th>구분</th>
						<th>값</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>사업지구</td>
						<td class="fw-bold">과천지구</td>
						<td>위치</td>
						<td class="fw-bold">경기도 과천시</td>
					</tr>
					<tr>
						<td>면적</td>
						<td class="fw-bold text-right">1,673,257</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>계획 세대수</td>
						<td class="fw-bold text-right">7,162</td>
						<td>변경 세대수</td>
						<td class="household-co text-right"></td>
					</tr>
					<tr>
						<td>계획 인구수</td>
						<td class="fw-bold text-right">1,5732</td>
						<td>변경인구수</td>
						<td class="population-co text-right"></td>
					</tr>
				</tbody>
			</table>
		</div>
	
		<!--필지-->
		<div class="design-layer-land-wrapper mt-20" style="display: none;">
			<h3>단지</h3>
			<table class="table-word-break design-layer-land" summary="필지 정보">
				<caption class="hiddenTag">필지 정보</caption>
				<colgroup>
					<col class="col-width-25">
					<col class="col-number" width="*">
					<col class="col-width-25">
					<col class="col-number" width="*">
				</colgroup>
				<thead>
					<tr>
						<th>구분</th>
						<th>기준</th>
						<th>허용</th>
						<th>변경</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>건폐율(%)</td>
						<td class="building-coverage-ratio text-right"></td>
						<td class="building-coverage-ratio text-right"></td>
						<td class="building-coverage-ratio text-right"></td>
					</tr>
					<tr>
						<td>용적률(%)</td>
						<td class="floor-area-ratio text-right"></td>
						<td class="floor-area-ratio text-right"></td>
						<td class="floor-area-ratio text-right"></td>
					</tr>
					<tr>
						<td>단지명</td>
						<td class="lot-code text-left" colspan="3"></td>
					</tr>
					<tr>
						<td>용도지구</td>
						<td class="landuse-zoning text-left" colspan="3"></td>
					</tr>
					<tr>
						<td>세대수</td>
						<td class="household-co text-right" colspan="3"></td>
					</tr>
				</tbody>
			</table>
			<div class="form-group form-group-data mt-2">
				<label for="floor-co" class="w-30">전체 건물 층수 변경</label> 
				<select class="floor-co">
					<!--by js. 1~100-->
				</select>
				<a href="javascript:;" class="up-floor-co" title="증가"><img th:src="@{/images/ico_up.png}" class="mt-5" alt="증가"/></a>
				<a href="javascript:;" class="down-floor-co" title="감소"><img th:src="@{/images/ico_down.png}" class="mt-5" alt="감소"/></a>
			</div>
		</div>
		
		<!--건물-->
		<div class="design-layer-building-wrapper mt-20" style="display: none;">
			<h3>건물</h3>
			<table class="table-word-break design-layer-building" summary="건물 정보">
				<caption class="hiddenTag">건물 정보</caption>
				<colgroup>
					<col class="col-width-35">
					<col class="col-number" width="*">
					<col class="col-number" width="*">
				</colgroup>
				<thead>
					<tr>
						<th>구분</th>
						<th>기준</th>
						<th>계획</th>
					</tr>
				</thead>
				<tbody>
					<tr class="floor-co">
						<td>층수(층)</td>
						<td class="floor-co text-right"></td>
						<td>
							<select class="floor-co"><!-- by js. 1~100 --></select>
							<a href="javascript:;" class="up-floor-co" title="증가"><img th:src="@{/images/ico_up.png}" class="mt-5" alt="증가"/></a>
							<a href="javascript:;" class="down-floor-co" title="감소"><img th:src="@{/images/ico_down.png}" class="mt-5" alt="감소"/></a>
						</td>
					</tr>					
					<tr class="house-hold-co">
						<td>세대수(세대)</td>
						<td class="text-right household-co"></td>
						<td class="text-right household-co"></td>
					</tr>					
					<tr>
						<td>연면적</td>
						<td class="text-right total-floor-area"></td>
						<td class="text-right total-floor-area"></td>
					</tr>					
					<tr>
						<td>평형</td>
						<td class="text-right unit-type"></td>
						<td class="text-right "></td>
					</tr>					
					<tr>
						<td>주동조합</td>
						<td class="text-right union-type">2호</td>
						<td class="text-right "></td>
					</tr>					
				</tbody>
			</table>
		</div>
	</div>
</script>


</div>
