<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
    <title>OpenIndoorMap - 프로젝트 수정</title>
    <link rel="stylesheet" href="/externlib/dropzone/dropzone.css">
    <style type="text/css">
    </style>
</head>

<body>
    <div layout:fragment="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                프로젝트 수정
                <small>프로젝트</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a href="#">프로젝트</a></li>
                <li class="active">프로젝트 수정</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- general form elements disabled -->
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">프로젝트 정보</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form role="form" id="project" modelAttribute="project" method="post" data-toggle="validator" class="form form-horizontal">
                        <input th:field="${project.project_id}" type="hidden">
                        <!-- select -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="sharing_type">공유타입<i class="fa fa-star-of-life"></i></label>
                            <div class="col-sm-9">
                                <select class="form-control" id="sharing_type" name="sharing_type">
                                    <option value="1" th:selected="${project.sharing_type=='1'}"> 공개 프로젝트 </option>
                                    <option value="2" th:selected="${project.sharing_type=='2'}"> 개인 프로젝트 </option>
                                    <option value="3" th:selected="${project.sharing_type=='3'}"> 공유 프로젝트 </option>
                                    <option value="0" th:selected="${project.sharing_type=='0'}"> 공통 프로젝트 </option>
                                </select>
                            </div>
                        </div>
                        <!-- select -->

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="project_name">프로젝트명<i class="fa fa-star-of-life"></i></label>
                            <div class="col-sm-9">
                                <input th:field="${project.project_name}" type="text" class="form-control" id="project_name" name="project_name" placeholder="" data-error="프로젝트 이름을 입력하세요"
                                    required>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="view_order">순서</label>
                            <div class="col-sm-9">
                                <input th:field="${project.view_order}" type="text" class="form-control" id="view_order" name="view_order" placeholder="">
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="default_yn">기본값</label>
                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="default_yn" id="default_yn" value="Y" th:checked="${project.default_yn=='Y'}">
                                        기본
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="default_yn" id="default_yn" value="N" th:checked="${project.default_yn=='N'}">
                                        선택
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="use_yn">상태</label>
                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="use_yn" id="use_yn" value="Y" th:checked="${project.use_yn=='Y'}">
                                        사용
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="use_yn" id="use_yn" value="N" th:checked="${project.use_yn=='N'}">
                                        미사용
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="longitude">경도</label>
                            <div class="col-sm-9">
                                <input th:field="${project.longitude}" type="text" class="form-control" id="longitude" name="longitude" placeholder="" data-error="경도값을 입력하세요."
                                    required>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="latitude">위도</label>
                            <div class="col-sm-9">
                                <input th:field="${project.latitude}" type="text" class="form-control" id="latitude" name="latitude" placeholder="" data-error="위도값을 입력하세요."
                                    required>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="height">높이</label>
                            <div class="col-sm-9">
                                <input th:field="${project.height}" type="text" class="form-control" id="height" name="height" placeholder="" data-error="높이값을 입력하세요."
                                    required>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="duration">이동 시간</label>
                            <div class="col-sm-9">
                                <input th:field="${project.duration}" type="text" class="form-control" id="duration" name="duration" placeholder="" data-error="이동시간을 입력하세요."
                                    required>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="attributes">속성</label>
                            <div class="col-sm-9">
                                <input th:field="${project.attributes}" type="text" class="form-control" id="attributes" name="attributes" placeholder="" value='{"nodeType": "root", "isPhysical": false, "specularLighting": true}'>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="description">설명</label>
                            <div class="col-sm-9">
                                <input th:field="${project.description}" type="text" class="form-control" id="description" name="description" placeholder="">
                            </div>
                        </div>

                    </form>

                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix text-center">
                    <div class="form-group">
                        <button class="btn btn-primary" id="updateProject">저장</button>
                        <a class="btn btn-warning" href="/project/list-project" role="button">취소</a>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>

    <th:block layout:fragment="script">
        <script type="text/javascript">
            // Project 정보 저장
            var updateProjectFlag = true;
            $("#updateProject").on('click', function(){
                if (checkProject() == false) {
                    return false;
                }
                if (updateProjectFlag) {
                    updateProjectFlag = false;
                    var info = $("#project").serialize();
                    $.ajax({
                        url: "/project/ajax-update-project",
                        type: "POST",
                        data: info,
                        cache: false,
                        dataType: "json",
                        success: function (msg) {
                            if (msg.result == "success") {
                                // alert(JS_MESSAGE["project.update"]);
                                alert("수정되었습니다.");
                            }
                            updateProjectFlag = true;
                        },
                        error: function (request, status, error) {
                            // alert(JS_MESSAGE["ajax.error.message"]);
                            updateProjectFlag = true;
                        }
                    });
                } else {
                    // alert(JS_MESSAGE["button.dobule.click"]);
                    return;
                }
            })

            function checkProject() {
                if ($("#project_name").val() == "") {
                    // alert(JS_MESSAGE["project.name.empty"]);
                    $("#project_name").focus();
                    return false;
                }
                if ($("#longitude").val() == "") {
                    // alert(JS_MESSAGE["longitude.empty"]);
                    $("#longitude").focus();
                    return false;
                }
                if ($("#latitude").val() == "") {
                    // alert(JS_MESSAGE["latitude.empty"]);
                    $("#latitude").focus();
                    return false;
                }
                if ($("#height").val() == "") {
                    // alert(JS_MESSAGE["height.empty"]);
                    $("#height").focus();
                    return false;
                }
                if ($("#duration").val() == "") {
                    // alert(JS_MESSAGE["project.duration.empty"]);
                    $("#duration").focus();
                    return false;
                }
                if ($("#attributes").val() == "") {
                    // alert("속성 정보를 입력하여 주십시오.");
                    $("#attributes").focus();
                    return false;
                }
            }
        </script>
    </th:block>
</body>

</html>