<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title>OpenIndoorMap - 사용자 설정</title>
    <link rel="stylesheet" href="/externlib/dropzone/dropzone.css">
    <style type="text/css">
    </style>
</head>

<body>
    <div layout:fragment="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                사용자 설정
                <small>설정</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a href="#">설정</a></li>
                <li class="active">사용자 설정</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- general form elements disabled -->
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">설정 정보</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form role="form" id="userPolicy" modelAttribute="userPolicy" method="post" data-toggle="validator" class="form form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="geo_data_default_projects">시작시 로딩 프로젝트<i class="fa fa-star-of-life"></i></label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input th:field="${userPolicy.geo_data_default_projects}" type="hidden">
                                    <input th:field="${userPolicy.geo_data_default_projects_view}" type="text" class="form-control" id="geo_data_default_projects_view" name="geo_data_default_projects_view" readonly="true" data-error="시작시 로딩할 프로젝트를 선택해주세요.">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-info btn-flat" id="projectFind">검색</button>
                                    </span>
                                </div>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="geo_cull_face_enable">CullFace 사용유무</label>
                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="geo_cull_face_enable" id="geo_cull_face_enable" value="true" th:checked="${userPolicy.geo_cull_face_enable=='true'}">
                                        사용
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="geo_cull_face_enable" id="geo_cull_face_enable" value="false" th:checked="${userPolicy.geo_cull_face_enable=='false'}">
                                        사용안함
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="geo_time_line_enable">Timeline 사용유무</label>
                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="geo_time_line_enable" id="geo_time_line_enable" value="true" th:checked="${userPolicy.geo_time_line_enable=='true'}">
                                        사용
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="geo_time_line_enable" id="geo_time_line_enable" value="false" th:checked="${userPolicy.geo_time_line_enable=='false'}">
                                        사용안함
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="geo_init_camera_enable">초기 카메라 이동 유무</label>
                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="geo_init_camera_enable" id="geo_init_camera_enable" value="true" th:checked="${userPolicy.geo_init_camera_enable=='true'}">
                                        사용
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="geo_init_camera_enable" id="geo_init_camera_enable" value="false" th:checked="${userPolicy.geo_init_camera_enable=='false'}">
                                        사용안함
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="geo_init_longitude">초기 카메라 이동 경도</label>
                            <div class="col-sm-9">
                                <input th:field="${userPolicy.geo_init_longitude}" type="text" class="form-control" id="geo_init_longitude" name="geo_init_longitude" placeholder="" data-error="경도값을 입력하세요."
                                    required>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="geo_init_latitude">초기 카메라 이동 위도</label>
                            <div class="col-sm-9">
                                <input th:field="${userPolicy.geo_init_latitude}" type="text" class="form-control" id="geo_init_latitude" name="geo_init_latitude" placeholder="" data-error="위도값을 입력하세요."
                                    required>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="geo_init_height">초기 카메라 이동 고도(미터)</label>
                            <div class="col-sm-9">
                                <input th:field="${userPolicy.geo_init_height}" type="text" class="form-control" id="geo_init_height" name="geo_init_height" placeholder="" data-error="높이값을 입력하세요."
                                    required>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="geo_init_duration">초기 카메라 이동 시간(초)</label>
                            <div class="col-sm-9">
                                <input th:field="${userPolicy.geo_init_duration}" type="text" class="form-control" id="geo_init_duration" name="geo_init_duration" placeholder="" data-error="시간을 입력하세요."
                                    required>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="geo_init_default_fov">Field Of View</label>
                            <div class="col-sm-9">
                                <input th:field="${userPolicy.geo_init_default_fov}" type="text" class="form-control" id="geo_init_default_fov" name="geo_init_default_fov" placeholder="" data-error="FOV 를 입력하세요."
                                    required>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="geo_lod0">LOD0</label>
                            <div class="col-sm-9">
                                <input th:field="${userPolicy.geo_lod0}" type="text" class="form-control" id="geo_lod0" name="geo_lod0" placeholder="" data-error="LOD0 를 입력하세요."
                                    required>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="geo_lod1">LOD1</label>
                            <div class="col-sm-9">
                                <input th:field="${userPolicy.geo_lod1}" type="text" class="form-control" id="geo_lod1" name="geo_lod1" placeholder="" data-error="LOD1 를 입력하세요."
                                    required>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="geo_lod2">LOD2</label>
                            <div class="col-sm-9">
                                <input th:field="${userPolicy.geo_lod2}" type="text" class="form-control" id="geo_lod2" name="geo_lod2" placeholder="" data-error="LOD2 를 입력하세요."
                                    required>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="geo_lod3">LOD3</label>
                            <div class="col-sm-9">
                                <input th:field="${userPolicy.geo_lod3}" type="text" class="form-control" id="geo_lod3" name="geo_lod3" placeholder="" data-error="LOD3 를 입력하세요."
                                    required>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="geo_lod4">LOD4</label>
                            <div class="col-sm-9">
                                <input th:field="${userPolicy.geo_lod4}" type="text" class="form-control" id="geo_lod4" name="geo_lod4" placeholder="" data-error="LOD4 를 입력하세요."
                                    required>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="geo_lod5">LOD5</label>
                            <div class="col-sm-9">
                                <input th:field="${userPolicy.geo_lod5}" type="text" class="form-control" id="geo_lod5" name="geo_lod5" placeholder="" data-error="LOD5 를 입력하세요."
                                    required>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                    </form>

                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix text-center">
                    <div class="form-group">
                        <a class="btn btn-warning" href="/map/" role="button">취소</a>
                        <button class="btn btn-primary" id="updateUserPolicy">저장</button>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>

    <th:block layout:fragment="script">
        <script type="text/javascript">
        $('#userPolicy').validator({
            
        });
// (function($) {
//     $.fn.bootstrapValidator.validators.password = {
//         validate: function(validator, $field, options) {
//             var value = $field.val();
//             if (value === '') {
//                 return true;
//             }

//             // Check the password strength
//             if (value.length < 8) {
//                 return false;
//             }

//             // The password doesn't contain any uppercase character
//             if (value === value.toLowerCase()) {
//                 return false;
//             }

//             // The password doesn't contain any uppercase character
//             if (value === value.toUpperCase()) {
//                 return false;
//             }

//             // The password doesn't contain any digit
//             if (value.search(/[0-9]/) < 0) {
//                 return false;
//             }

//             return true;
//         }
//     };
// }(window.jQuery));

            // 데이터 키 중복 확인
            $( "#data_duplication_buttion" ).on( "click", function() {
                var dataKey = $("#data_key").val();
                if (dataKey == "") {
                    // alert(JS_MESSAGE["data.key.empty"]);
                    alert("데이터 키가 중복되었습니다.");
                    $("#data_id").focus();
                    return false;
                }
                var info = "project_id=" + $("#project_id").val() + "&data_key=" + dataKey;
                $.ajax({
                    url: "/data/ajax-data-key-duplication-check",
                    type: "POST",
                    data: info,
                    cache: false,
                    dataType: "json",
                    success: function(msg){
                        if(msg.result == "success") {
                            if(msg.duplication_value != "0") {
                                // alert(JS_MESSAGE["data.key.duplication"]);
                                alert("데이터 키가 중복되었습니다.");
                                $("#data_key").focus();
                                return false;
                            } else {
                                // alert(JS_MESSAGE["data.key.enable"]);
                                alert("사용가능한 키입니다.");
                                $("#duplication_value").val(msg.duplication_value);
                            }
                        } else {
                            // alert(JS_MESSAGE[msg.result]);
                        }
                    },
                    error:function(request, status, error) {
                        //alert(JS_MESSAGE["ajax.error.message"]);
                        alert(" code : " + request.status + "\n" + ", message : " + request.responseText + "\n" + ", error : " + error);
                    }
                });
            });

            // 사용자 설정 업데이트
            var updateUserPolicyFlag = true;
            $("#updateUserPolicy").on('click', function(){
                // if (checkData() == false) {
                //     return false;
                // }
                if (updateUserPolicyFlag) {
                    updateUserPolicyFlag = false;
                    var info = $("#userPolicy").serialize();
                    $.ajax({
                        url: "/settings/ajax-update-user-policy",
                        type: "POST",
                        data: info,
                        cache: false,
                        dataType: "json",
                        success: function (msg) {
                            if (msg.result == "success") {
                                // alert(JS_MESSAGE["project.update"]);
                                alert("수정되었습니다.");
                            }
                            updateUserPolicyFlag = true;
                        },
                        error: function (request, status, error) {
                            // alert(JS_MESSAGE["ajax.error.message"]);
                            updateUserPolicyFlag = true;
                        }
                    });
                } else {
                    // alert(JS_MESSAGE["button.dobule.click"]);
                    return;
                }
            })

            function checkData() {
                if ($("#data_key").val() == "") {
                    $("#data_key").focus();
                    return false;
                }
                if ($("#data_name").val() == "") {
                    // alert(JS_MESSAGE["project.name.empty"]);
                    $("#data_name").focus();
                    return false;
                }
                if ($("#longitude").val() == "") {
                    // alert(JS_MESSAGE["longitude.empty"]);
                    $("#longitude").focus();
                    return false;
                }
                if ($("#latitude").val() == "") {
                    // alert(JS_MESSAGE["latitude.empty"]);
                    $("#latitude").focus();
                    return false;
                }
                if ($("#height").val() == "") {
                    // alert(JS_MESSAGE["height.empty"]);
                    $("#height").focus();
                    return false;
                }
                if ($("#attributes").val() == "") {
                    // alert("속성 정보를 입력하여 주십시오.");
                    $("#attributes").focus();
                    return false;
                }
                if($("#data_key").val() !== $("#old_data_key").val()) {
                    if($("#duplication_value").val() == null || $("#duplication_value").val() == "") {
                        // alert(JS_MESSAGE["data.key.duplication_value.check"]);
                        alert("데이터 키의 중복을 확인해주세요.");
                        return false;
                    } else if($("#duplication_value").val() == "1") {
                        // alert(JS_MESSAGE["data.key.duplication_value.already"]);
                        alert("중복된 키입니다.");
                        return false;
                    }
                }
            }
        </script>
    </th:block>
</body>

</html>