# Ignore Gradle project-specific cache directory
**/application-dev.properties
**/.gradle
**/.temp-*

# Ignore Gradle build output directory
**/build

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache
**/bin

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr
**/out/

### VS Code ###
**/.vscode
