<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layouts/default">
<head>
	<meta charset="utf-8">
	<title>디자인 레이어 그룹</title>
	<th:block layout:fragment="pageCustomStyle">
		<link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/externlib/normalize/normalize.min.css(cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/css/fontawesome-free-5.2.0-web/css/all.min.css(cacheVersion=${contentCacheVersion})}">
		<link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/css/{lang}/admin-style.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	</th:block>
</head>
<body>
<th:block layout:fragment="pageCustomContent">
	<div class="site-body">
		<div class="container">
			<div class="site-content">
				<div th:replace="~{/fragments/sub-menu :: #subMenuWrap}"></div>
				<div class="page-area">
					<div th:replace="~{/fragments/page-header :: #pageHeaderWrap}"></div>
					<div class="page-content">
						<div style="height: 30px;"></div>
						<div class="list">
							<div class="list-header row">
								<div class="list-desc u-pull-left">
									<div class="button-group">
										<a href="#" onclick="openAll(); return false;" class="button">펼치기</a>
										<a href="#" onclick="closeAll(); return false;" class="button">접기</a>
									</div>
								</div>
								<div class="list-functions u-pull-right">
									<div class="button-group">
										<a href="/design-layer-group/input" class="button">디자인 레이어 그룹 등록</a>
									</div>
								</div>
							</div>
							<table class="list-table scope-col" summary="디자인 레이어 그룹 목록">
								<caption class="hiddenTag">디자인 레이어 그룹</caption>
								<col class="col-name"/>
								<col class="col-toggle"/>
								<col class="col-name"/>
								<col class="col-functions"/>
								<col class="col-functions"/>
								<col class="col-functions"/>
								<col class="col-date"/>
								<thead>
								<tr>
									<th scope="col">그룹명</th>
									<th scope="col">사용 여부</th>
									<th scope="col">등록자</th>
									<th scope="col">레이어</th>
									<th scope="col">순서</th>
									<th scope="col">편집</th>
									<th scope="col">등록일</th>
								</tr>
								</thead>
								<tbody>
<th:block th:if="${designLayerGroupList.empty}">
								<tr>
									<td colspan="7" class="col-none">디자인 레이어 그룹이 존재하지 않습니다.</td>
								</tr>
</th:block>
<th:block th:unless="${designLayerGroupList.empty}" th:each="designLayerGroup : ${designLayerGroupList}">
								<tr th:class="|rowId-${designLayerGroup.designLayerGroupId} rowDepth-${designLayerGroup.depth} rowAncestor-${designLayerGroup.ancestor} rowParent-${designLayerGroup.parent}|">
									<td class="col-key ellipsis" style="max-width: 300px;">
	<th:block th:with="paddingLeftValue = ${(designLayerGroup.depth -1) * 40}">
										<span th:onclick="childrenDisplayToggle([[${designLayerGroup.designLayerGroupId}]], [[${designLayerGroup.depth}]]);"
											th:style="|padding-left: ${paddingLeftValue}px; font-size: 1.6em;|">
											<i th:id="|myArrow-${designLayerGroup.designLayerGroupId}|"
											   th:class="|fa fa-caret-right depthArrow-${designLayerGroup.depth} parentArrow-${designLayerGroup.parent}|" aria-hidden="true"></i>
										</span>&nbsp;
	</th:block>
	<th:block th:if="${designLayerGroup.depth == 1}">
										<span style="font-size: 1.5em; color: Dodgerblue;">
	</th:block>
	<th:block th:if="${designLayerGroup.depth == 2}">
										<span style="font-size: 1.5em; color: Mediumslateblue;">
	</th:block>
	<th:block th:if="${designLayerGroup.depth == 3}">
										<span style="font-size: 1.5em; color: Tomato;">
	</th:block>
	<th:block th:if="${designLayerGroup.depth == 4}">
										<span style="font-size: 1.5em; color: #82c91e;">
	</th:block>
	<th:block th:if="${designLayerGroup.depth == 5}">
										<span style="font-size: 1.5em; color: #f783ac;">
	</th:block>
											<i th:id="|myFolder-${designLayerGroup.designLayerGroupId}|"
											   th:class="|fa fa-folder depthFolder-${designLayerGroup.depth} parentFolder-${designLayerGroup.parent}|" aria-hidden="true"></i>
										</span>
										<span th:text="${designLayerGroup.designLayerGroupName}"></span>
									</td>
									<td class="col-type">
										<th:block th:if="${#bools.isTrue(designLayerGroup.available)}" th:text="사용"></th:block>
										<th:block th:if="${#bools.isFalse(designLayerGroup.available)}" th:text="미사용"></th:block>
									</td>
									<td class="col-type" th:text="${designLayerGroup.userId}"></td>
									<td class="col-type">
										<a th:href="@{/design-layer/list(searchOption=0,searchWord=design_layer_group_name,searchValue=${designLayerGroup.designLayerGroupName})}"
										   class="linkButton">보기</a>
									</td>
									<td class="col-type">
										<div class="button-group">
											<a href="#"
											   th:onclick="moveUp([[${designLayerGroup.designLayerGroupId}]], [[${designLayerGroup.viewOrder}]]); return false;"
											   class="button" style="text-decoration:none;">위로</a>
											<a href="#"
											   th:onclick="moveDown([[${designLayerGroup.designLayerGroupId}]], [[${designLayerGroup.viewOrder}]]); return false;"
											   class="button" style="text-decoration:none;">아래로</a>
										</div>
									</td>
									<td class="col-type">
										<a th:href="@{/design-layer-group/modify(designLayerGroupId=${designLayerGroup.designLayerGroupId})}"
										   class="image-button button-edit" th:text="#{modified}"></a>&nbsp;&nbsp;
										<a th:href="@{/design-layer-group/delete(designLayerGroupId=${designLayerGroup.designLayerGroupId})}"
										   class="image-button button-delete" th:text="#{delete}"
										   onclick="return deleteWarning();"></a>
									</td>
									<td class="col-date">
										<th:block th:text="${#temporals.format(designLayerGroup.insertDate, 'yyyy-MM-dd HH:mm')}"></th:block>
									</td>
								</tr>
</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="pageCustomScript">
	<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/tree.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/navigation.js(cacheVersion=${contentCacheVersion})}"></script>

<script th:inline="javascript">
	// 위로 이동
	var upFlag = true;
	function moveUp(id, viewOrder) {
		if (upFlag) {
			upFlag = false;
			if (viewOrder === 1) {
				alert("제일 처음 입니다.");
				upFlag = true;
				return;
			}

			var formData = "updateType=UP";
			$.ajax({
				url: "/design-layer-groups/view-order/" + id,
				type: "POST",
				headers: {"X-Requested-With": "XMLHttpRequest"},
				data: formData,
				success: function (msg) {
					if (msg.statusCode <= 200) {
						alert(JS_MESSAGE["update"]);
						window.location.reload();
						upFlag = true;
						openAll();
					} else {
						if (msg.errorCode === "design.layer.group.view-order.invalid") {
							alert("순서를 변경할 수 없습니다.");
						} else {
							alert(JS_MESSAGE[msg.errorCode]);
						}
						console.log("---- " + msg.message);
						upFlag = true;
					}
				},
				error: function (request, status, error) {
					alert(JS_MESSAGE["ajax.error.message"]);
					upFlag = true;
				}
			});
		} else {
			alert("진행 중입니다.");
		}
	}

	// 아래로 이동
	var downFlag = true;
	function moveDown(id, viewOrder) {
		if (downFlag) {
			downFlag = false;
			var formData = "updateType=DOWN";
			$.ajax({
				url: "/design-layer-groups/view-order/" + id,
				type: "POST",
				headers: {"X-Requested-With": "XMLHttpRequest"},
				data: formData,
				success: function (msg) {
					if (msg.statusCode <= 200) {
						alert(JS_MESSAGE["update"]);
						window.location.reload();
						downFlag = true;
						openAll();
					} else {
						if (msg.errorCode === "design.layer.group.view-order.invalid") {
							alert("순서를 변경할 수 없습니다.");
						} else {
							alert(JS_MESSAGE[msg.errorCode]);
						}
						console.log("---- " + msg.message);
						downFlag = true;
					}
				},
				error: function (request, status, error) {
					alert(JS_MESSAGE["ajax.error.message"]);
					downFlag = true;
				}
			});
		} else {
			alert("진행 중입니다.");
		}
	}
</script>
</th:block>
</body>
</html>