<div id="dataLibraryDialog" class="basicTable" title="데이터 라이브러리 툴바" style="display: none;">
	<div class="btnGroup" style="margin-top: 20px;">
		<button class="textBtnSub" id="drawDataLibararyByPoint" data-runtype="toggle">점그리기</button>
		<button class="textBtnSub" id="drawDataLibararyByLine" data-runtype="toggle">선그리기</button>
		<button class="textBtnSub" id="selectDataLibarary" data-runtype="toggle">개별선택</button>
		<button class="textBtnSub" id="selectDataLibararyInArea" data-runtype="toggle">범위선택</button>
		<button class="textBtnSub" id="translateDataLibarary" data-runtype="toggle">선택이동</button>
		<button class="textBtnSub" id="rotateDataLibarary" data-runtype="toggle">선택회전</button>
		<button class="textBtnSub" id="deleteDataLibarary" data-runtype="run">선택삭제</button>
	</div>
</div>