<div id="designLayerDialog" class="basicTable" title="디자인 레이어 툴바" style="display: none;">
	<div class="btnGroup" style="margin-top: 20px;">
		<button class="textBtnSub" id="extrudeLandByClickInteraction" data-runtype="toggle">필지올리기</button>
		<button class="textBtnSub" id="deleteExtrudeLand" data-runtype="run">올린필지지우기</button>
		<button class="textBtnSub" id="selectExtrusion" data-runtype="toggle">개별선택</button>
		<button class="textBtnSub" id="selectExtrusionInArea" data-runtype="toggle">범위선택</button>
		<button class="textBtnSub" id="translateExtrusion" data-runtype="toggle">선택이동</button>
		<button class="textBtnSub" id="rotateExtrusion" data-runtype="toggle">선택회전</button>
		<button class="textBtnSub" id="updownExtrusion" data-runtype="toggle">선택높이조절</button>
		<button class="textBtnSub" id="checkDistanceExtrusion" data-runtype="run">이격거리체크</button>
		<button class="textBtnSub" id="deleteExtrusion" data-runtype="run">선택삭제</button>
	</div>
</div>