<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="landscapeDiffWarp">
    <!-- LandScpaeDiff DropdownList -->
    <script id="landscapeDiffSource" type="text/x-handlebars-template">
        <form id="landscapeDataForm" method="post" onsubmit="return false;">
            <div class="form-group form-group-data">
                <label for="landscapeGroup">경관그룹</label>
                <select id="landscapeGroup" name="landscapeGroup">					
					{{#if landscapeGroupList}}
                    	{{#each landscapeGroupList}}
                    	<option value="{{id}}">
                        	{{lsDiffGrupName}}
                    	</option>
                    	{{/each}}
					{{else}}
						<option value=''>데이터가 없습니다.</option>
					{{/if}}
                </select>
            </div>
            <div class="form-group form-group-data">
                <label for="landscapeName">경관명</label>
                <input type="text" id="landscapeName" name="landscapeName" placeholder="데이터명을 입력하여 주십시오." size="30">
            </div>
            <div class="form-group form-group-data">
                <button type="submit" id="landscapeSaveBtn" class="btnTextF search-text" title="검색">저장</button>
            </div>
        </form>
    </script>

    <!-- LandScpaeDiff Page 김대리님 dataListDHTML2 이거 아이디 중복이어서 2로 해 두었습니다. 고쳐 주세요. -->
    <script id="landscapeDiffContentSource" type="text/x-handlebars-template">
		<style>
			.col-width-10 {width:10%}
			.col-width-45 {width:45%}
		</style>
        <div id="dataListDHTML2" style="height:calc(100% - 255px)">
            <div class="dataBtns"></div>
            <div class="dataGroupSummary table-data-group-summary " style="height: calc(100% - 43px)">
                <table class="table-word-break" summary="경관 비교 데이터 목록">
                    <caption class="hiddenTag">경관 비교 데이터 목록</caption>
                    <colgroup>
                        <col class="col-number col-width-10">
                        <col class="col-number">
                        <col class="col-width-45">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col" class="col-number">번호</th>
                            <th scope="col" class="col-number">경관</th>
                            <th scope="col" class="col-number">기능</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if page}}
                            {{#each page}}
                            <tr>
                                <td class="col-number">{{id}}</td>
                                <td class="col-number text-left">{{lsDiffName}}</td>
                                <td class="col-number">
                                    <button type="button" class="goto" th:text="이동"  th:title="이동" style="margin: 0px; padding: 0px;"  onclick="analsLandScapeDiff.flyToByCameraStatus('{{id}}')"></button>
                                    <button type="button" class="showHideButton show" th:title="조회" th:text="조회" onclick="showLsDiffImage('{{id}}')"></button>
                                    <button type="button" class="showHideButton delete" th:title="삭제"  th:text="삭제" onclick="deleteData('{{id}}')"></button>
                                </td>
                                
                            </tr>
                            {{/each}}
                        {{else}}
                        <tr>
                            <td class="col-number" colspan="3">데이터가 없습니다.</td>
                        </tr>
                        {{/if}}
                    </tbody>
                </table>
            </div>
            {{#greaterThan size 0}}
                <ul class="pagination">
                    <li class="ico first"
                        onclick="paginLandScapeList(1);">
                    </li>
                    <li class="ico forward"
                        onclick="paginLandScapeList({{#plus pagenationInfo.previousPaging 1}}{{/plus}})">
                    </li>
                    {{#forEachStep pagenationInfo.startPageNum pagenationInfo.lastPageNum 1}}
                        {{#numberEqual this ../nowPageNum}}
                            <li class="on" onclick="paginLandScapeList({{#plus this 1}}{{/plus}})">{{#plus this 1}}{{/plus}}</li>
                        {{else}}
                            <li  onclick="paginLandScapeList({{#plus this 1}}{{/plus}})">{{#plus this 1}}{{/plus}}</li>
                        {{/numberEqual}}
                    {{/forEachStep}}
                    <li class="ico back"
                        onclick="paginLandScapeList({{#plus pagenationInfo.nextPaging 1}}{{/plus}});">
                    </li>
                    <li class="ico end"
                        onclick="paginLandScapeList('{{landScapePage.totalPages}}');">
                    </li>
                </ul>
            {{/greaterThan}}
        </div>
    </script>
    
    
    <script id="landscapeDiffDialog" type="text/x-handlebars-template">
		<div class="dialog" role="dialog" id="landscapeDiffModal" style="display:none;">
    		<div style="float:left; ">
        		<div>
            		<img src="data:image/png;base64,{{base64}}" />
        		</div>
			</div>
		</div>
	</script>
</div>