<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="lsHeightViewAnalsWarp">
    <script id="lsHeightViewAnalsWidget" type="text/x-handlebars-template">
        <div class="form-group form-group-data">
            <label for="lsHeightAnalsInput">최고층수</label>
            <input type="number"  id="lsHeightAnalsInput" name="lsHeightAnalsInput" placeholder="높이를 입력해주세요" value="10"
                   size="30" step="1">
        </div>
        <div class="form-group form-group-data">
            <button type="button" id="lsHeightBtn" class="btnTextF search-text" >위치선택</button>
        </div>
        <div class="form-group form-group-data">
            <label for="lsHeightAnalsGroup">분석 높이</label>
            <select id="lsHeightAnalsGroup" name="lsHeightAnalsGroup" class="lsHeightAnalsList">
                <option value="0">
                    비교조망점
                </option>
            </select>
        </div>
    </script>
</div>