<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.openindoormap.persistence.DesignLayerMapper">

    <!-- 디자인 레이어 총 건수 -->
    <select id="getDesignLayerTotalCount" parameterType="designLayer" resultType="long">
        /* getDesignLayerTotalCount */
        SELECT COUNT(design_layer_id)
        FROM design_layer a
        LEFT JOIN design_layer_group b
        ON a.design_layer_group_id = b.design_layer_group_id
		<if test="urbanGroupId != null and urbanGroupId gt 0">
		WHERE a.urban_group_id = #{urbanGroupId}
		</if>
    </select>

    <!-- 디자인 레이어 목록 -->
    <select id="getListDesignLayer" parameterType="designLayer" resultType="designLayer">
        /* getListDesignLayer */
        SELECT a.*, b.design_layer_group_name
        FROM design_layer a
        LEFT JOIN design_layer_group b
        ON a.design_layer_group_id = b.design_layer_group_id
		<if test="urbanGroupId != null and urbanGroupId gt 0">
			WHERE a.urban_group_id = #{urbanGroupId}
		</if>
		ORDER BY a.insert_date DESC, design_layer_id DESC
    </select>

    <!-- 디자인 레이어 정보 취득 -->
    <select id="getDesignLayer" parameterType="long" resultType="designLayer">
        /* getDesignLayer */
        SELECT A.*, B.design_layer_group_name
        FROM design_layer A
        LEFT JOIN design_layer_group B on B.design_layer_group_id = A.design_layer_group_id
        WHERE A.design_layer_id = #{designLayerId}
    </select>
</mapper>