<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.openindoormap.persistence.GeometryMapper">
    <!-- 운영 정책 정보 -->
    <select id="getIntersectionDesignLayerLands" parameterType="spatialOperationInfo" resultType="designLayerLandDto">
        /* getIntersectionDesignLayerLands */
        SELECT
            design_layer_land_id,
            design_layer_id,
            design_layer_group_id,
            identification_code,
            project_type,
            project_title,
            block_code,
            lot_code,
            lot_area,
            landuse_zoning,
            landuse_plan,
            lot_divide_marge,
            building_use,
            building_use_defined,
            building_use_recommended,
            building_use_allowed,
            building_use_conditional,
            building_use_forbidden,
            building_coverage_ratio,
            building_coverage_ratio_standard,
            floor_area_ratio,
            floor_area_ratio_standard,
            floor_area_ratio_allowed,
            floor_area_ratio_maximum,
            maximum_building_height,
            maximum_building_floors,
            housing_type,
            number_of_households,
            reference,
            properties,
            update_date,
            insert_date,
            st_astext(the_geom) as the_geom
        FROM design_layer_land
        WHERE enable_yn='Y'
        <choose>
            <when test="buffer !=null and buffer > 0" >
                AND st_intersects(st_buffer(ST_GeomFromText(#{wkt},4326),#{buffer}), the_geom) = true
            </when>
            <otherwise>
                AND st_intersects(ST_GeomFromText(#{wkt},4326), the_geom) = true
            </otherwise>
        </choose>
        <if test="maxFeatures !=null and maxFeatures > 0">
            limit #{maxFeatures}
        </if>
    </select>

    <select id="getIntersectionDesignLayerBuildings" parameterType="spatialOperationInfo" resultType="designLayerBuildingDto">
        /* getIntersectionDesignLayerBuildings */
        SELECT
            design_layer_building_id,
            design_layer_id,
            design_layer_group_id,
            build_id,
            build_height,
            build_floor,
            build_area,
            build_complex,
            parent_id,
            build_unit_type,
            build_unit_count,
            properties,
            update_date,
            insert_date,
            st_astext(the_geom) as the_geom
        FROM design_layer_building
        WHERE enable_yn='Y'
        <choose>
            <when test="buffer !=null and buffer > 0" >
                AND st_intersects(st_buffer(ST_GeomFromText(#{wkt},4326),#{buffer}), the_geom) = true
            </when>
            <otherwise>
                AND st_intersects(ST_GeomFromText(#{wkt},4326), the_geom) = true
            </otherwise>
        </choose>
        <if test="maxFeatures !=null and maxFeatures > 0">
            limit #{maxFeatures}
        </if>
    </select>

    <select id="getIntersectionDesignLayerBuildingHeights" parameterType="spatialOperationInfo" resultType="designLayerBuildingHeightDto">
        /* getIntersectionDesignLayerBuildingHeights */
        SELECT
        design_layer_building_height_id,
        design_layer_id,
        design_layer_group_id,
        build_id,
        build_maximum_floors,
        update_date,
        insert_date,
        st_astext(the_geom) as the_geom
        FROM design_layer_building_height
        WHERE enable_yn='Y'
        <choose>
            <when test="buffer !=null and buffer > 0" >
                AND st_intersects(st_buffer(ST_GeomFromText(#{wkt},4326),#{buffer}), the_geom) = true
            </when>
            <otherwise>
                AND st_intersects(ST_GeomFromText(#{wkt},4326), the_geom) = true
            </otherwise>
        </choose>
        <if test="maxFeatures !=null and maxFeatures > 0">
            limit #{maxFeatures}
        </if>
    </select>

    <select id="getIntersectionDatas" parameterType="spatialOperationInfo" resultType="dataInfo">
        /* getIntersectionDatas */
        SELECT
            data_id,
            data_group_id,
            converter_job_id,
            data_key,
            data_name,
            data_type,
            sharing,
            user_id,
            update_user_id,
            mapping_type,
            st_astext(location) as location,
            altitude,
            heading,
            pitch,
            roll,
            children_ancestor,
            children_parent,
            children_depth,
            children_view_order,
            metainfo,
            status,
            attribute_exist,
            object_attribute_exist,
            description,
            update_date,
            insert_date
        FROM data_info
        <choose>
            <when test="buffer !=null and buffer > 0" >
                WHERE st_intersects(st_buffer(ST_GeomFromText(#{wkt},4326),#{buffer}), location) = true
            </when>
            <otherwise>
                WHERE st_intersects(ST_GeomFromText(#{wkt},4326), location) = true
            </otherwise>
        </choose>
        <if test="maxFeatures !=null and maxFeatures > 0">
            limit #{maxFeatures}
        </if>
    </select>
</mapper>