<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<script id="dustInfoSource" type="text/x-handlebars-template">
<button id="closeDustInfo" class="circle-small fas fa-times float-right marT5 marR5" th:title="#{common.close}"></button>
<div class="sensor-detail">
    <!-- 게이지차트 -->
    <div class="chart-container">
        <div class="chart-title-wrap">
            <h3 class="chart-title">{{stationName}}</h3>
            <button class="chart-info far fa-question-circle"></button>
        </div>
        <div class="half-doughnut-chart-container">
            <canvas id="gaugeChart" width="300" height="200"></canvas>
            <canvas id="gaugeChartNeedle" width="300" height="200"></canvas>
            <p id="dustInfoValue" class="percent">{{pm10}}</p>
            <p class="label"><span>{{min}}</span><span>{{max}}</span></p>
        </div>
        <div class="chart-description">
            <span id="dustInfoGrade" class="dust lv{{grade}}"></span>
            <span class="dusttx">{{chartTitle}}</span>
        </div>
    </div>
    <!-- // 게이지차트 -->
    <!-- 측정항목 -->
    <div id="dustInfoTableSource" class="chart-container">
        <table class="dustList">
            <thead>
            <th><th:block th:text="#{iot.dust.metric}"></th:block></th>
            <th>
                {{#ifMatch observedProperty 'dust'}}
                    <th:block th:text="#{iot.dust.metric.value}"></th:block>
                {{else}}
                    <th:block th:text="#{iot.occupancy.person}"></th:block>
                {{/ifMatch}}
            </th>
            <th>
                {{#ifMatch observedProperty 'dust'}}
                    <th:block th:text="#{iot.dust.grade}"></th:block>
                {{else}}
                    <th:block th:text="#{iot.occupancy.grade}"></th:block>
                {{/ifMatch}}
            </th>
            </thead>
            <tbody>
            {{#greaterThan dataStreams.length 0}}
                {{#each dataStreams}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{value}}{{unit}}</td>
                        <td>
                            <span class="dust lv{{grade}}"></span>
                            <span class="dusttx">{{gradeText}}</span>
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td th:colspan="3" th:text="#{iot.dust.sensor.info.does.not.exist}"></td>
                </tr>
            {{/greaterThan}}
            </tbody>
        </table>
    </div>
    <!-- // 측정항목 -->
    <!-- 라인차트 -->
    <div class="chart-container" style="width: 674px">
        <canvas id="hourlyAirQualityChart" width="600" height="200"></canvas>
    </div>
    <div class="chart-container" style="display: none">
        <canvas id="dailyAirQualityChart" width="300" height="200"></canvas>
    </div>
    <!-- // 라인차트 -->
</div>
</script>
</html>