<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="iotContent" class="dataContents">

    <form id="searchIotForm" class="searchDataWrap" th:object="${searchDataForm}" method="post" onsubmit="return false;">
        <div class="searchDataType">
            <div>
                <input type="radio" id="radioOccupancy" name="searchWord" class="fas fa-street-view" value="iot_occupancy" checked>
                <label for="radioOccupancy" th:text="#{iot.occupancy}"></label>
            </div>
            <div>
                <input type="radio" id="radioDust" name="searchWord" class="fas fa-industry" value="iot_dust">
                <label for="radioDust" th:text="#{iot.dust}"></label>
            </div>
        </div>
        <div class="searchDataInputWrap">
            <div class="searchDataInput">
                <span class="searchIcon"></span>
                <label for="searchName" th:text="#{common.data.name}" class="hiddenTag"></label>
                <input type="text" id="searchName" name="searchValue" th:placeholder="#{data.enter.data.name}">
                <button type="submit" id="iotSearch" class="btnSearch" th:text="#{common.search}" th:title="#{common.search}"></button>
            </div>
        </div>
    </form>

    <div id="iotLegendDHTML"></div>
    <div id="iotSearchSummaryDHTML"></div>
    <div id="iotInfoContent" class="yScroll" style="height: calc(100% - 340px)">
        <div id="iotOccupancyListDHTML" style="display:block"></div>
        <div id="iotDustListDHTML" style="display:none"></div>
    </div>
    <div id="iotPaginationDHTML" class="paginationWrap"></div>

    <div th:replace="~{/iot/legend-template :: #iotLegendSource}"></div>
    <div th:replace="~{/common/search-summary-template :: #searchSummarySource}"></div>
    <div th:replace="~{/iot/occupancy-template :: #occupancyListSource}"></div>
    <div th:replace="~{/iot/dust-template :: #dustListSource}"></div>
    <div th:replace="~{/common/pagination-template :: #paginationSource}"></div>

</div>
</html>