<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<script id="occupancyListSource" type="text/x-handlebars-template">
    <ul>
        <li class="listElement" onclick="detailBuildingInfo('result', 'Alphadom_IndoorGML_data');">
            <div class="titleWrap">
                <p>
                    <span class="bullet">A.</span>
                    <span class="title ellipsis" style="max-width: 178px">알파돔</span>
                    <span class="subTitle">관리자</span>
                </p>
            </div>
            <div class="rightButtonWrap">
                <button class="fas fa-expand box marR5" th:title="#{common.move}" onclick="flyTo('result', 'Alphadom_IndoorGML_data');">
                    <p class="buttonLable" th:text="#{common.move}"></p>
                </button>
                <button class="fas fa-eye-slash box" th:title="#{common.show}" onclick="visibleData(this, 'result', 'Alphadom_IndoorGML_data', 'false');">
                    <p class="buttonLable" th:text="#{common.show}"></p>
                </button>
            </div>
            <div class="infoWrap">
                <span class="infoTag ellipsis"><span th:text="'건물명:'"></span>알파돔</span>
                <span class="infoTag"><span th:text="'전체인원:'"></span>2,430명</span>
            </div>
        </li>
    </ul>
</script>