<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div th:fragment="apiLogWidget" class="row">
    <div class="widget-header row">
        <div class="widget-heading u-pull-left">
            <h3 class="widget-title">
                <th:block th:text="${dbWidget.widgetName}"></th:block>
            </h3>
        </div>
        <div class="widget-functions u-pull-right">
            <a href="/api-log/list" title="api 요청 이력 더보기"><span class="icon-glyph glyph-plus"></span></a>
        </div>
    </div>
    <div id="apiLogArea" class="widget-content row">
        <div style="text-align: center; padding-top: 60px; padding-left: 150px;">
            <div id="apiLogSpinner" style="width: 150px; height: 70px;"></div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            startSpinner("apiLogSpinner");
            apiLogWidget();
        });

        /* api 요청 이력 */
        function apiLogWidget() {
            $.ajax({
                url : "/widgets/api-logs",
                type: "GET",
                headers: {"X-Requested-With": "XMLHttpRequest"},
                dataType: "json",
                success: function(msg) {
                     $("#apiLogArea").html("<h1> 개발 중</h1>")
                     return;
                    if(msg.statusCode <= 200) {
                        var template = Handlebars.compile($("#apiLogListSource").html());
                        var html = template(msg.apiLogList);
                        $("#apiLogArea").html("").append(html);
                    } else {
                        $("#apiLogArea").html(JS_MESSAGE[msg.errorCode]);
                    }
                },
                error:function(request,status,error){
                    alert(JS_MESSAGE["ajax.error.message"]);
                }
            });
        }
        </script>
</div>
</html>
