<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layouts/default">
<head>
    <meta charset="utf-8">
    <title>위젯 수정</title>
    <th:block layout:fragment="pageCustomStyle">
        <link rel="shortcut icon" th:href="@{/images/favicon.ico(cacheVersion=${contentCacheVersion})}">
        <link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
        <link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
        <link rel="stylesheet" th:href="@{/externlib/normalize/normalize.min.css(cacheVersion=${contentCacheVersion})}">
        <link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}">
        <link rel="stylesheet" th:href="@{/externlib/chart-js-2.9.3/Chart.min.css(cacheVersion=${contentCacheVersion})}">
        <link rel="stylesheet" th:href="@{/css/{lang}/admin-style.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">

        <script type="text/javascript" th:src="@{/externlib/vue-2.6.14/vue.min.js}"></script>
        <script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
        <script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
        <script type="text/javascript" th:src="@{/externlib/chart-js-2.9.3/Chart.min.js(cacheVersion=${contentCacheVersion})}"></script>
        <script type="text/javascript" th:src="@{/externlib/handlebars-4.1.2/handlebars.js(cacheVersion=${contentCacheVersion})}"></script>
        <script type="text/javascript" th:src="@{/js/{lang}/handlebars-helper.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
        <script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
        <script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
        <script type="text/javascript" th:src="@{/js/navigation.js(cacheVersion=${contentCacheVersion})}"></script>
        <script type="text/javascript" th:src="@{/externlib/spinner/progressSpin.min.js(cacheVersion=${contentCacheVersion})}"></script>
        <script type="text/javascript" th:src="@{/externlib/spinner/raphael.js(cacheVersion=${contentCacheVersion})}"></script>
    </th:block>
</head>
<body>
<th:block layout:fragment="pageCustomContent">
    <div class="site-body">
        <div class="container">
            <div class="site-content">
                <div th:replace="~{/fragments/sub-menu :: #subMenuWrap}"></div>
                <div class="page-area">
                    <div th:replace="~{/fragments/page-header :: #pageHeaderWrap}"></div>
                    <div class="page-content">
                        <div class="content-header row">
                            <div class="content-title u-pull-left">
                                <th:block th:text="#{config.widget.top}"></th:block>
                            </div>
                        </div>

                        <form id="widget" th:object="${widget}" method="post" th:action="@{#}" onsubmit="return false;">
                            <input type="hidden" id="widgetOrder" name="widgetOrder" th:field="*{widgetOrder}" />
                            <div id="sortable" class="widgets row">
                                <th:block th:unless="${widgetList.empty}" th:each="dbWidget : ${widgetList}">
                                    <!-- [[${dbWidget.widgetId}]]: [[${dbWidget.widgetName}]]-->
                                    <div th:id="${dbWidget.widgetId}" th:include="('/widget/' + ${dbWidget.widgetKey}) :: (${dbWidget.widgetKey})" class="widget one-third column" style="font-size: 16px;">
                                    </div>
                                </th:block>
                            </div>
                        </form>

                        <div class="button-group">
                            <div class="center-buttons">
                                <input type="submit" th:value="#{save}" onclick="updateWidget(); return false;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="pageCustomScript">

    <script type="text/javascript">
        Chart.platform.disableCSSInjection = true;

        $(document).ready(function() {
            $("#sortable").sortable({
                update: function( event, ui ) {
                    var widgetValue = "";
                    $(".widget").each(function() {
                        widgetValue = widgetValue + "," + $(this).attr("id");
                    });
                    $("#widgetOrder").val(widgetValue);
                    console.log(widgetValue);
                }
            });
            $("#sortable").disableSelection();

        });

        /* 위젯 순서 수정 */
        var updateFlag = true;
        function updateWidget() {
            if($("#widgetOrder").val() === "") {
                alert(JS_MESSAGE["config.widget.content.does.not.exist"]);
                return false;
            }

            if (updateFlag) {
                updateFlag = false;
                var formData = $("#widget").serialize();
                $.ajax({
                    url : "/widgets/order",
                    type : "POST",
                    data : formData,
                    headers: {"X-Requested-With": "XMLHttpRequest"},
                    dataType: "json",
                    success: function(msg) {
                        if(msg.statusCode <= 200) {
                            alert(JS_MESSAGE["update"]);
                            $("#widgetOrder").val("");
                        } else {
                            alert(JS_MESSAGE[msg.errorCode]);
                            console.log("---- " + msg.message);
                        }
                        updateFlag = true;
                    },
                    error:function(request,status,error){
                        alert(JS_MESSAGE["ajax.error.message"]);
                        updateFlag = true;
                    }
                });
            } else {
                alert(JS_MESSAGE["button.dobule.click"]);
            }
        }
    </script>
</th:block>
</body>
</html>