<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
    <div th:fragment="userWidget" class="row">
        <div class="widget-header row">
             <div class="widget-heading u-pull-left">
                <h3 class="widget-title"><th:block th:text="${dbWidget.widgetName}"></th:block></h3>
            </div>
            <div class="widget-functions u-pull-right">
                <a href="/user/list" title="사용자 목록"><span class="icon-glyph glyph-plus"></span></a>
            </div>
        </div>
        <canvas id="userStatusChart" width="450" height="150"></canvas>
        <div id="userStatusArea" class="widget-content row">
            <div style="text-align: center; padding-top: 60px; padding-left: 150px;">
                <div id="userStatusSpinner" style="width: 150px; height: 70px;"></div>
            </div>
        </div>
        <script type="text/javascript">
        $(document).ready(function() {
            startSpinner("userStatusSpinner");
            userWidget();
            if (typeof refreshJobs !== "undefined") {
                refreshJobs.push(userWidget);
            }
        });
        /* 사용자 상태별 현황 */
        function userWidget() {
            $.ajax({
                url : "/widgets/user-status",
                type: "GET",
                headers: {"X-Requested-With": "XMLHttpRequest"},
                dataType: "json",
                success: function(msg){
                    if(msg.statusCode <= 200) {
                        $("#userStatusArea").empty();
                        showUserStatus(msg);
                    } else {
                        $("#userStatusArea").html(JS_MESSAGE[msg.errorCode]);
                    }
                },
                error:function(request,status,error){
                    alert(JS_MESSAGE["ajax.error.message"]);
                }
            });
        }

        /* 사용자 상태별 현황 위젯 */
        function showUserStatus(msg) {
            var ctx = $("#userStatusChart");
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: msg.userStatusKeys,
                    datasets: [{
                        barThickness: 40,
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: msg.userStatusValues
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    tooltips: {
                        enabled: false
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                maxTicksLimit: 7
                            }
                        }]
                    }
                }
            });
        }
        </script>
    </div>
</html>
