      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">MAIN NAVIGATION</li>
          <li>
            <a href="/map/">
              <i class="fa fa-map"></i> <span>Map</span>
            </a>
          </li>
          <li>
            <a href="/dashboard/">
              <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-cubes"></i>
              <span>프로젝트</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/project/input-project"><i class="fa fa-circle-o"></i>프로젝트 등록</a></li>
              <li><a href="/project/list-project"><i class="fa fa-circle-o"></i>프로젝트 목록</a></li>
              <li><a href="/data/list-data"><i class="fa fa-circle-o"></i>데이터 목록</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-cloud-upload"></i>
              <span>Converter</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/upload-data/input-upload-data"><i class="fa fa-circle-o"></i>자료 등록</a></li>
              <li><a href="/upload-data/list-upload-data"><i class="fa fa-circle-o"></i>자료 목록</a></li>
              <li><a href="/converter/input-converter-job"><i class="fa fa-circle-o"></i>변환 결과</a></li>
            </ul>
          </li>
          <li class="header">SETTINGS</li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-cog"></i>
              <span>설정</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/settings/modify-membership"><i class="fa fa-circle-o"></i>MemberShip 설정</a></li>
              <li><a href="/settings/modify-user-policy"><i class="fa fa-circle-o"></i>기타 설정</a></li>
            </ul>
          </li>
        </ul>
      </section>
      <!-- /.sidebar -->