<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title>OpenIndoorMap - 자료 정보</title>
    <style type="text/css">
        .table th{
            text-align: center;
        }

        .table td {
            text-align: left;
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                자료 정보
                <small>Converter</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a href="#">Converter</a></li>
                <li class="active">자료 정보</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">상세정보</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive">
                            <table class="table table-bordered table-hover w-auto">
                                <thead>
                                    <tr>
                                        <th>항목</th>
                                        <th>내용</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>프로젝트</th>
                                        <th:block th:switch="${uploadData.sharing_type}">
                                            <td th:case="1" th:with="sharing_type='공개 프로젝트'" th:text="'['+${sharing_type}+']'+${uploadData.project_name}"></td>
                                            <td th:case="2" th:with="sharing_type='개인 프로젝트'" th:text="'['+${sharing_type}+']'+${uploadData.project_name}"></td>
                                            <td th:case="3" th:with="sharing_type='공유 프로젝트'" th:text="'['+${sharing_type}+']'+${uploadData.project_name}"></td>
                                            <td th:case="0" th:with="sharing_type='공통 프로젝트'" th:text="'['+${sharing_type}+']'+${uploadData.project_name}"></td>
                                        </th:block>
                                    </tr>
                                    <tr>
                                        <th>데이터</th>
                                        <th:block th:switch="${uploadData.data_type}">
                                            <td th:case="citygml" th:with="data_type='CityGML'" th:text="'['+${data_type}+']'+${uploadData.data_name}"></td>
                                            <td th:case="indoorgml" th:with="data_type='IndoorGML'" th:text="'['+${data_type}+']'+${uploadData.data_name}"></td>
                                        </th:block>
                                    </tr>
                                    <tr>
                                        <th>경도</th>
                                        <td th:text="${uploadData.longitude}"></td>
                                    </tr>
                                    <tr>
                                        <th>위도</th>
                                        <td th:text="${uploadData.latitude}"></td>
                                    </tr>
                                    <tr>
                                        <th>고도</th>
                                        <td th:text="${uploadData.height}"></td>
                                    </tr>
                                    <tr>
                                        <th>압축유무</th>
                                        <th:block th:switch="${uploadData.compress_yn}">
                                            <td th:case="Y" th:text="압축"></td>
                                            <td th:case="N" th:text="압축안함"></td>
                                        </th:block>
                                    </tr>
                                    <tr>
                                        <th>설명</th>
                                        <td th:text="${uploadData.description}"></td>
                                    </tr>
                                    <tr>
                                        <th>첨부파일</th>
                                        <td>
                                            <ul th:unless="${uploadDataFileList.isEmpty()}" th:each="uploadDataFile : ${uploadDataFileList}" th:with="paddingLeft=(${uploadDataFile.depth}-1) * 20" style="list-style: none; margin-bottom: 20px;">
                                                <li th:if="${uploadDataFile.file_type}=='D'" th:text="'[폴더]'+${uploadDataFile.file_sub_path}" th:style="'padding-left:'+${paddingLeft}+'px'"></li>
                                                <li th:unless="${uploadDataFile.file_type}=='D'" th:text="'[파일]'+${uploadDataFile.file_real_name}+'('+${#numbers.formatInteger(uploadDataFile.viewFileSizeUnitKB, 0, 'COMMA')}+' KB)'" th:style="'padding-left:'+${paddingLeft}+'px'"></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix text-center">
                            <div class="form-group">
                                <a class="btn btn-warning" th:href="@{/upload-data/modify-upload-data(upload_data_id=${uploadData.upload_data_id})}" role="button">수정</a>
                                <a class="btn btn-primary" href="/upload-data/list-upload-data" role="button">목록</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>

    <th:block layout:fragment="script">
        <script type="text/javascript">
        </script>
    </th:block>
</body>

</html>