<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title>OpenIndoorMap - 자료 수정</title>
    <link rel="stylesheet" href="/externlib/dropzone/dropzone.css">
    <style type="text/css">
        .dropzone {
            border-color: #d2d6de;
        }
    
        .loader-txt p {
            font-size: 13px;
            color: #666;
        }
    
        .loader-txt p small {
            font-size: 11.5px;
            color: #999;
        }
    
        .modal {
            text-align: center;
        }
    
        @media screen and (min-width: 768px) {
            .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
            }
        }
    
        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }
    
        /** SPINNER CREATION **/
        .loader {
            position: relative;
            text-align: center;
            margin: 15px auto 35px auto;
            z-index: 9999;
            display: block;
            width: 80px;
            height: 80px;
            border: 10px solid rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            border-top-color: #000;
            animation: spin 1s ease-in-out infinite;
            -webkit-animation: spin 1s ease-in-out infinite;
        }
    
        @keyframes spin {
            to {
                -webkit-transform: rotate(360deg);
            }
        }
    
        @-webkit-keyframes spin {
            to {
                -webkit-transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                자료 수정
                <small>Converter</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a href="#">Converter</a></li>
                <li class="active">자료 수정</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="callout callout-info">
                <h4>안내!</h4>

                <p>업로딩 한 파일은 다른 사용자들에게 전부 <b style="color: darkblue;">공개</b> 됩니다.</p>
                <p>디렉토리를 포함하는 파일의 경우 <b style="color: darkblue;">zip</b> 파일로 압축해서 업로딩해 주십시오.</p>
                <p>복수 파일의 경우, <b style="color: darkblue;">대표 공간 정보</b>를 입력 후 <a href="/data/list-data">데이터 목록</a> 메뉴에서 수정하시기 바랍니다.</p>
            </div>
            <!-- Default box -->
            <!-- general form elements disabled -->
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">공간정보 입력사항</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form role="form" data-toggle="validator" th:object="${uploadData}">
                        <!-- select -->
                        <div class="form-group">
                            <label for="sharing_type">공유타입<i class="fa fa-star-of-life"></i></label>
                            <select class="form-control" id="sharing_type" name="sharing_type">
                                <option value="1" th:selected="${uploadData.sharing_type=='1'}"> 공개 프로젝트 </option>
                                <option value="2" th:selected="${uploadData.sharing_type=='2'}" disabled="disabled"> 개인 프로젝트 </option>
                                <option value="3" th:selected="${uploadData.sharing_type=='3'}" disabled="disabled"> 공유 프로젝트 </option>
                                <option value="0" th:selected="${uploadData.sharing_type=='0'}" disabled="disabled"> 공통 프로젝트 </option>
                            </select>
                        </div>
                        <!-- select -->
                        <div class="form-group">
                            <label for="data_type">데이터 타입<i class="fa fa-star-of-life"></i></label>
                            <select class="form-control" id="data_type" name="data_type">
                                <option value="citygml" th:selected="${uploadData.data_type=='citygml'}"> CITYGML </option>
                                <option value="indoorgml" th:selected="${uploadData.data_type=='indoorgml'}"> INDOORGML </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="project_name">프로젝트명<i class="fa fa-star-of-life"></i></label>
                            <input th:field="${uploadData.project_id}" type="hidden">
                            <input th:field="${uploadData.project_name}" type="text" class="form-control" readonly="readonly">
                        </div>

                        <div class="form-group">
                            <label for="data_name">데이터명</label>
                            <input th:field="${uploadData.data_name}" type="text" class="form-control" id="data_name" name="data_name" placeholder="" data-error="데이터명을 입력하세요." required>
                            <span class="help-block with-errors"></span>
                        </div>

                        <div class="form-group">
                            <label for="longitude">경도</label>
                            <input th:field="${uploadData.longitude}" type="text" class="form-control" id="longitude" name="longitude" placeholder="" data-error="경도값을 입력하세요." required>
                            <span class="help-block with-errors"></span>
                        </div>

                        <div class="form-group">
                            <label for="latitude">위도</label>
                            <input th:field="${uploadData.latitude}" type="text" class="form-control" id="latitude" name="latitude" placeholder="" data-error="위도값을 입력하세요." required>
                            <span class="help-block with-errors"></span>
                        </div>

                        <div class="form-group">
                            <label for="height">높이</label>
                            <input th:field="${uploadData.height}" type="text" class="form-control" id="height" name="height" placeholder="" data-error="높이값을 입력하세요." required>
                            <span class="help-block with-errors"></span>
                        </div>

                        <div class="form-group">
                            <label for="description">설명</label>
                            <input th:field="${uploadData.description}" type="text" class="form-control" id="description" name="description" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="uploadfile">첨부파일</label>
                            <!-- 첨부파일이 있으면 -->
                            <ul th:unless="${uploadDataFileList.isEmpty()}" th:each="uploadDataFile : ${uploadDataFileList}" th:with="paddingLeft=(${uploadDataFile.depth}-1) * 20" style="list-style: none; margin-bottom: 20px;">
                                <li th:if="${uploadDataFile.file_type}=='D'" th:text="'[폴더]'+${uploadDataFile.file_sub_path}" th:style="'padding-left:'+${paddingLeft}+'px'"></li>
                                <li th:unless="${uploadDataFile.file_type}=='D'" th:text="'[파일]'+${uploadDataFile.file_real_name}+'('+${#numbers.formatInteger(uploadDataFile.viewFileSizeUnitKB, 0, 'COMMA')}+' KB)'" th:style="'padding-left:'+${paddingLeft}+'px'"></li>
                            </ul>
                            <!-- <ul class="mailbox-attachments clearfix">
                                <li>
                                    <div class="mailbox-attachment-info">
                                    <a href="#" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> Sep2014-report.pdf</a>
                                        <span class="mailbox-attachment-size">
                                            1,245 KB
                                            <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                                        </span>
                                    </div>
                                </li>
                            </ul> -->
                        </div>
                    </form>

                    <form role="form" id="my-dropzone" action="" class="dropzone"></form>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix text-center">
                    <div class="form-group">
                        <a class="btn btn-warning" href="/upload-data/list-upload-data" role="button">취소</a>
                        <button class="btn btn-primary" id="updateUploadData">저장</button>
                    </div>
                </div>
            </div>
            <!-- /.box -->

            <!-- /.modal -->
            <div class="modal fade" id="projectSearchDialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">프로젝트 찾기</h4>
                        </div>
                        <div class="modal-body">
                            <div class="project-list">
                                <ul id="project-list-area" style="list-style: none;">
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="button_projectSelect" name="button_projectSelect">선택</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <!-- /.modal -->
            <div class="modal fade" id="fileUploadDialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <!-- <i class="fa fa-refresh fa-spin fa-5x"></i> -->
                            <div class="loader"></div>
                            <div class="loader-txt">
                                <p>파일을 등록 중입니다.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </section>
        <!-- /.content -->
    </div>

    <th:block layout:fragment="script">
        <script type="text/javascript" src="/externlib/dropzone/dropzone.min.js"></script>

        <script type="text/javascript">
            //그룹 선택
            $('#projectSearchDialog').on('show.bs.modal', function (e) {
                console.log('Searching project ...');
                searchProject();
            })

            var searchProjectFlag = true;
            function searchProject() {
                if (searchProjectFlag) {
                    searchProjectFlag = false;
                    var info = "sharing_type=" + $("#sharing_type").val();
                    $.ajax({
                        url: "/project/ajax-list-project",
                        type: "POST",
                        data: info,
                        cache: false,
                        dataType: "json",
                        success: function (msg) {
                            if (msg.result == "success") {
                                drawProjectList(msg.projectList);
                            } else {
                                //alert(JS_MESSAGE[msg.result]);
                                alert(msg.result);
                            }
                            searchProjectFlag = true;
                        },
                        error: function (request, status, error) {
                            alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                            searchProjectFlag = true;
                        }
                    });
                } else {
                    //alert(JS_MESSAGE["button.dobule.click"]);
                    alert("button.dobule.click");
                    return;
                }
            }

            function drawProjectList(projectList) {
                var content = "";
                if (projectList == null || projectList.length == 0) {
                    content += "<li>"
                        + " 프로젝트가 존재하지 않습니다. 프로젝트 등록 후 이용 가능 합니다."
                        + "</li>";
                } else {
                    for (i = 0; i < projectList.length; i++) {
                        var project = null;
                        project = projectList[i];
                        content = content
                            + "<li>"
                            + "	<input type=\"radio\" id=\"radio_" + project.project_id + "\" name=\"radio_search_project\" value=\"" + project.project_id + "_" + project.project_name + "\" />"
                            + "	<label for=\"radio_" + project.project_id + "\">" + project.project_name + "</label>"
                            + "</li>";
                    }
                }
                $("#project-list-area").empty();
                $("#project-list-area").html(content);
            }

            // 프로젝트 선택
            $("#button_projectSelect").on("click", function () {
                var radioObj = $(":radio[name=radio_search_project]:checked").val();
                if (!radioObj) {
                    alert("프로젝트를 선택하여 주십시오.");
                    return false;
                } else {
                    var splitValues = radioObj.split("_");
                    var id = splitValues.shift();
                    var name = splitValues.join("_");
                    $("#project_id").val(id);
                    $("#project_name").val(name);
                    $('#projectSearchDialog').modal('hide');
                }
            });

            var uploadFileCount = 0;
            var myDropzone;
            Dropzone.autoDiscover = false;
            $(function () {
                myDropzone = new Dropzone("#my-dropzone", {
                    url: "/upload-data/ajax-update-upload-data",
                    //paramName: "file",
                    // Prevents Dropzone from uploading dropped files immediately
                    timeout: 3600000,
                    autoProcessQueue: false,
                    // 여러개의 파일 허용
                    uploadMultiple: true,
                    method: "post",
                    // 병렬 처리
                    parallelUploads: 100,
                    // 최대 파일 업로드 갯수
                    maxFiles: 100,
                    // 최대 업로드 용량 Mb단위
                    maxFilesize: 2000,
                    dictDefaultMessage: "Drop files here or click to upload",
                    /* headers: {
                        "x-csrf-token": document.querySelectorAll("meta[name=csrf-token]")[0].getAttributeNode("content").value,
                    }, */
                    // 허용 확장자
                    acceptedFiles: ".3ds, .obj, .dae, .ifc, .citygml, .indoorgml, .jpg, .jpeg, .gif, .png, .bmp, .zip",
                    // 업로드 취소 및 추가 삭제 미리 보기 그림 링크 를 기본 추가 하지 않음
                    // 기본 true false 로 주면 아무 동작 못함
                    //clickable: true,
                    fallback: function () {
                        // 지원하지 않는 브라우저인 경우
                        alert("죄송합니다. 최신의 브라우저로 Update 후 사용해 주십시오.");
                        return;
                    }
                });

                myDropzone.on("sending", function (file, xhr, formData) {
                    formData.append("sharing_type", $("#sharing_type").val());
                    formData.append("data_type", $("#data_type").val());
                    formData.append("project_id", $("#project_id").val());
                    formData.append("data_name", $("#data_name").val());
                    formData.append("latitude", $("#latitude").val());
                    formData.append("longitude", $("#longitude").val());
                    formData.append("height", $("#height").val());
                    formData.append("description", $("#description").val());
                });

                // maxFiles 카운터를 초과하면 경고창
                myDropzone.on("maxfilesexceeded", function (data) {
                    alert("최대 업로드 파일 수는 100개 입니다.");
                    return;
                });

                myDropzone.on("success", function (file, response) {
                    console.log("[SUCCESS] : Uploading files...");
                    $('#fileUploadDialog').modal('hide');
                    myDropzone.removeAllFiles(true);
                    if (file !== undefined && file.name !== undefined) {
                        console.log("file name = " + file.name + ", result = " + response.result);

                        if (response.result === "success") {
                            if (uploadFileCount === 0) {
                                uploadFileCount++;
                                alert("업로딩을 완료 하였습니다.");
                            }
                            return;
                        } else if (response.result === "upload.file.type.invalid") {
                            alert("복수의 파일을 업로딩 할 경우 zip 파일은 사용할 수 없습니다.")
                        } else
                        {
                            alert("파일 업로드가 정상적으로 이루어지지 않았습니다.("+response.result+")");
                        }
                    } else {
                        console.log("------- success response = " + response.result);
                    }
                })

                myDropzone.on("error", function (file, response) {
                    console.log("[ERROR] : Uploading files...");
                    $('#fileUploadDialog').modal('hide');
                });
            })

            $("#updateUploadData").on('click', function (e) {
                if (checkData() === false) {
                    return;
                }
                uploadFileCount = 0;
                e.preventDefault();
                e.stopPropagation();
                myDropzone.processQueue(); // Tell Dropzone to process all queued files.

                $('#fileUploadDialog').modal({
                    backdrop: "static", //remove ability to close modal with click
                    keyboard: false, //remove option to close with keyboard
                    show: true //Display loader!
                });
            });

            $("#allFileClear").on('click', function (e) {
                // Using "_this" here, because "this" doesn't point to the dropzone anymore
                if (confirm("정말 전체 항목을 삭제하겠습니까?")) {
                    // true 주면 업로드 중인 파일도 다 같이 삭제
                    myDropzone.removeAllFiles(true);
                }
            });

            function checkData() {
                $('form').validator('update');
                if ($("#project_id").val() == "") {
                    //alert(JS_MESSAGE["project.name.empty"]);
                    $("#project_id").focus();
                    return false;
                }
                if ($("#data_name").val() == "") {
                    //alert(JS_MESSAGE["data.name.empty"]);
                    $("#data_name").focus();
                    return false;
                }
                if ($("#latitude").val() == "") {
                    // alert(JS_MESSAGE["latitude.empty"]);
                    $("#latitude").focus();
                    return false;
                }
                if ($("#longitude").val() == "") {
                    // alert(JS_MESSAGE["longitude.empty"]);
                    $("#longitude").focus();
                    return false;
                }
                if ($("#height").val() == "") {
                    // alert(JS_MESSAGE["height.empty"]);
                    $("#height").focus();
                    return false;
                }
            }
        </script>
    </th:block>
</body>

</html>