<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="landScapeContent" class="contents yScroll fullHeight" style="display:none;">
<style>
    button.delete {
        background-image: url(/images/ko/icon/image/image.png);
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: -120px 0px;
    }

    .text-left {text-align: left !important;}
    .text-center {text-align: center !important;}
</style>


<!-- <div th:replace="~{/landscape-widget/landscape-widget :: #landscapeDiffWarp}"/> -->

    <ul class="listDrop">
<!--        <li class="on">-->
<!--            <p th:text="가시권분석"><span class="collapse-icon">icon</span></p>-->
<!--            <div id="visibilityProcess" class="listContents">-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <label for="visibilityToggle" th:text="활성화"></label>-->
<!--                        <input type="checkbox" id="visibilityToggle" value="" placeholder=""/>-->
<!--                        <button type="button" id="visibilityBtn" th:text="작동"></button>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
        <!-- 경관보기는 필요없을꺼같음.. 경관 분석에 옵션을 주면 해결될 것으로 보임. -->
        <li class="on">
            <p th:text="경관보기"><span class="collapse-icon">icon</span></p>
            <div style="display: block;
                padding: 10px;
                border: 1px solid #e0e0e0;
                background-color: #fff;">
                <div id="lsHeightViewContent">
                </div>
            </div>
        </li>
        <li class="on">
            <p th:text="조망점비교"><span class="collapse-icon">icon</span></p>
            <div style="display: block;
                padding: 10px;
                border: 1px solid #e0e0e0;
                background-color: #fff;">
                <div id="landscapeDiffDataDiv">
                </div>
                <div id="landscapeDiffDetDataDiv">
                </div>
            </div>
        </li>
        <li class="on">
            <p th:text="경관시뮬레이션"><span class="collapse-icon">icon</span></p>
            <div id="landScapeAnalsProcess"
                 style="display: block;
                padding: 10px;
                border: 1px solid #e0e0e0;
                background-color: #fff;">
                <div class="form-group form-group-data">
                    <label for="lsAnalsMoveTypeGroup">분석높이</label>
                    <select id="lsAnalsMoveTypeGroup" name="lsAnalsMoveTypeGroup" style="width: 90px;">
                        <option value="0">
                            보행자
                        </option>
                        <option value="1">
                            자동차
                        </option>
                        <option value="2">
                            사용자
                        </option>
                    </select>
                    <input type="number" id="landscapeMoveTypeName" name="landscapeMoveTypeName"
                           style="width: 95px;"
                           placeholder="분석높이" size="5" step="0.5">
                    <label for="lsAnalsActionGroup">작업 방식</label>
                    <select id="lsAnalsActionGroup" name="lsAnalsActionGroup">
                        <option value="0">
                            자율분석
                        </option>
                        <option value="1">
                            저장된데이터기반분석
                        </option>
                    </select>
                </div>
                <div id="lsAnalsContent">

                </div>
            </div>
        </li>
        <!-- 경관보기는 필요없을꺼같음.. 경관 분석에 옵션을 주면 해결될 것으로 보임. -->
<!--        <li class="on" style="display: none">-->
<!--            <p th:text="경관보기"><span class="collapse-icon">icon</span></p>-->
<!--            <div style="display: block;-->
<!--                padding: 10px;-->
<!--                border: 1px solid #e0e0e0;-->
<!--                background-color: #fff;">-->
<!--                <div id="lsViewContent">-->
<!--                </div>-->
<!--            </div>-->
<!--        </li>-->
    </ul>



    <!-- skylineModal -->

    <style>
        #skylineModal > h2 {color:#333;}
        .ds-image {display: none;}
        .ds-image-skyline {display: none;}
        .ds-image-shielding {display: none;}
        .ds-image-shielding-table {display: none;}

        .ds-image.on {display: block;}
        .ds-image-skyline.on {display: block;}
        .ds-image-shielding.on {display: block;}
        .ds-image-shielding-table.on {
            display: block;
            position: absolute;
            background: #ece9e9;
            margin-top: 10px;
            right: 13%;
        }

        .ds-image-thumb {margin-bottom: 5px; cursor: pointer;}
        .ds-image-skyline-thumb {margin-bottom: 5px; cursor: pointer;}
        .ds-image-shielding-thumb {margin-bottom: 5px; cursor: pointer;}
    </style>

    <div class="dialog" role="dialog" id="skylineModal" style="display:none;">
        <table class="ds-image-shielding-table" summary="레이어 목록">
            <caption class="hiddenTag">차폐 정보</caption>
            <colgroup>
                <col class="col-number" width="25%">
                <col class="col-number" width="*">
            </colgroup>
            <thead>
            <tr>
                <th scope="col" class="col-number">차폐관점</th>
                <th scope="col" class="col-number">차폐율</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="col-number" colspan="3">하늘</td>
                <td class="col-number" colspan="3" id="sky-shielding"></td>
            </tr>
            </tbody>
        </table>
        <div style="float:left; width:90%">
            <div>
                <img class="ds-image" data-index="0"/>
            </div>
            <div>
                <img class="ds-image" data-index="1"/>
            </div>
            <div>
                <img class="ds-image" data-index="2"/>
            </div>
            <div>
                <img class="ds-image-skyline" data-index="0" />
            </div>
            <div>
                <img class="ds-image-skyline" data-index="1" />
            </div>
            <div>
                <img class="ds-image-skyline" data-index="2" />
            </div>
            <div>
                <img class="ds-image-shielding" data-index="0" />
            </div>
            <div>
                <img class="ds-image-shielding" data-index="1" />
            </div>
            <div>
                <img class="ds-image-shielding" data-index="2" />
            </div>
        </div>



        <div style="float:right; width:10%">
            <div class="text-center marB10">
                <h2>원경</h2>
                <img class="ds-image-thumb" alt="원경" title="원경" width="64" height="64" data-index="0">
                <img class="ds-image-skyline-thumb" alt="원경" title="원경 스카이라인" width="64" height="64" data-index="0">
                <img class="ds-image-shielding-thumb" alt="원경" title="원경 조망차폐" width="64" height="64" data-index="0">
            </div>
            <div class="text-center marB10">
                <h2>중경</h2>
                <img class="ds-image-thumb" alt="중경" title="중경" width="64" height="64" data-index="1">
                <img class="ds-image-skyline-thumb" alt="중경" title="중경 스카이라인" width="64" height="64" data-index="1">
                <img class="ds-image-shielding-thumb" alt="중경" title="중경 조망차폐" width="64" height="64" data-index="1">
            </div>
            <div class="text-center marB10">
                <h2>근경</h2>
                <img class="ds-image-thumb" alt="근경" title="근경" width="64" height="64" data-index="2">
                <img class="ds-image-skyline-thumb" alt="근경" title="근경 스카이라인" width="64" height="64" data-index="2">
                <img class="ds-image-shielding-thumb" alt="근경" title="근경 조망차폐" width="64" height="64" data-index="2">
            </div>
        </div>

    </div>
    <!-- //skylineModal -->
</div>


<script type="text/javascript" th:src="@{/js/ko/time-series.js}" defer></script>



</html>

