<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layouts/default">
<head>
    <meta charset="utf-8">
    <title>사용자 목록</title>
    <th:block layout:fragment="pageCustomStyle">
        <link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang}, cacheVersion=${contentCacheVersion})}" />
        <link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang}, cacheVersion=${contentCacheVersion})}" />
        <link rel="stylesheet" th:href="@{/externlib/normalize/normalize.min.css(cacheVersion=${contentCacheVersion})}" />
        <link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}" />
        <link rel="stylesheet" th:href="@{/css/{lang}/admin-style.css(lang=${lang}, cacheVersion=${contentCacheVersion})}" />
    </th:block>
</head>
<body>
<th:block layout:fragment="pageCustomContent">
    <div class="site-body">
        <div class="container">
            <div class="site-content">
                <div th:replace="~{/fragments/sub-menu :: #subMenuWrap}"></div>
                <div class="page-area">
                    <div th:replace="~{/fragments/page-header :: #pageHeaderWrap}"></div>
                    <div class="page-content">

                        <!-- S: 검색 -->
                        <div class="filters">
                            <form id="searchForm" th:object="${userInfo}" method="get"  onsubmit="return searchCheck();">
                                <div class="input-group row">
                                    <div class="input-set">
                                        <label for="searchWord" th:text="#{search.word}"></label>
                                        <select id="searchWord" name="from" class="selectBoxClass">
                                        <th:block th:each="num : ${#numbers.sequence(2019, 2029)}">
                                            <option th:text="${num}" th:value="${num}" th:selected="${num} == ${from}">2019</option>
                                        </th:block>
                                        </select>
                                        <select id="searchOption" name="to" class="selectBoxClass">
                                        <th:block th:each="num : ${#numbers.sequence(2019, 2029)}">
                                            <option th:text="${num}" th:value="${num}" th:selected="${num} == ${to}">2019</option>
                                        </th:block>
                                        </select>
                                    </div>
                                    <div class="input-set">
                                        <input type="submit" th:value="#{search}" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- E: 검색 -->

                        <!-- S: 사용자 목록-->
                        <div class="list">
                            <form id="listForm" th:object="${userInfo}" method="post">
                                <table class="list-table scope-col" summary="사용자 목록 조회 ">
                                    <caption class="hiddenTag">사용자 목록</caption>
                                    <colgroup>
                                        <col class="col-number"></col>
                                        <col class="col-name"></col>
                                        <col class="col-name"></col>
                                        <col class="col-name"></col>
                                        <col class="col-type"></col>
                                        <col class="col-functions"></col>
                                        <col class="col-functions"></col>
                                        <col class="col-functions"></col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">년도</th>
                                            <th scope="col">월</th>
                                            <th scope="col">갯수</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:if="${list.empty}">
                                            <td colspan="3" class="col-none">통계 목록이 존재하지 않습니다.</td>
                                        </tr>
                                        <tr th:unless="${list.empty}" th:each="row : ${list}" th:with="year=${row.year}">
                                            <td class="col-name" th:text="${row.year}"></td>
                                            <td class="col-type" th:text="${row.month}"></td>
                                            <td class="col-type" th:text="${row.count}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <!-- E: 사용자 목록-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 사용자 그룹 -->
    <div th:replace="~{/user-group/user-group-info-dialog :: #userGroupInfoDialog}"></div>
</th:block>
<th:block layout:fragment="pageCustomScript">
<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang}, cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang}, cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/navigation.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript">
    $(document).ready(function() {

    });

    //전체 선택
    $("#chkAll").click(function() {
        $(":checkbox[name=userId]").prop("checked", this.checked);
    });

    // 사용자 그룹 정보
    var userGroupDialog = $("#userGroupInfoDialog").dialog({
        autoOpen: false,
        width: 700,
        height: 400,
        modal: true,
        resizable: false
    });

    // 사용자 그룹 정보
    function detailUserGroup(userGroupId) {
        userGroupDialog.dialog("open");

        $.ajax({
            url: "/user-groups/detail",
            data: {"userGroupId": userGroupId},
            type: "GET",
            headers: {"X-Requested-With": "XMLHttpRequest"},
            dataType: "json",
            success: function(msg){
                if(msg.statusCode <= 200) {
                    $("#userGroupNameInfo").html(msg.userGroup.userGroupName);
                    $("#userGroupKeyInfo").html(msg.userGroup.userGroupKey);
                    $("#basicInfo").html(msg.userGroup.basic?'기본':'선택');
                    $("#availableInfo").html(msg.userGroup.available?'사용':'미사용');
                    $("#descriptionInfo").html(msg.userGroup.description);
                } else {
                    alert(JS_MESSAGE[msg.errorCode]);
                }
            },
            error: function(request, status, error){
                alert(JS_MESSAGE["ajax.error.message"]);
            }
        });
    }

    // 사용자 잠금, 사용자 잠금 해제
    var updateUserStatusFlag = true;
    function updateUserStatus(statusValue) {
        if($("input:checkbox[name=userId]:checked").length == 0) {
            alert(JS_MESSAGE["check.value.required"]);
            return false;
        } else {
            var checkedValue = "";
            $("input:checkbox[name=userId]:checked").each(function(index){
                checkedValue += $(this).val() + ",";
            });
            $("#checkIds").val(checkedValue);
        }

        if(updateUserStatusFlag) {
            updateUserStatusFlag = false;
            $.ajax({
                url: "/users/status",
                type: "POST",
                data: {checkIds: checkedValue, statusValue: statusValue},
                dataType: "json",
                success: function(msg){
                    if(msg.statusCode <= 200) {
                        alert(JS_MESSAGE["update"]);
                        location.reload();
                    } else {
                        alert(JS_MESSAGE[msg.errorCode]);
                    }
                    updateUserStatusFlag = true;
                },
                error:function(request,status,error){
                    alert(JS_MESSAGE["ajax.error.message"]);
                    updateUserStatusFlag = true;
                }
            });
        } else {
            alert(JS_MESSAGE["button.dobule.click"]);
        }
    }

    function searchCheck() {
        if($("#searchOption").val() == "1") {
            if(confirm(JS_MESSAGE["search.option.warning"])) {
                // go
            } else {
                return false;
            }
        }

        var startDate = $("#startDate").val();
        var endDate = $("#endDate").val();
        if(startDate != null && startDate != "" && endDate != null && endDate != "") {
            if(parseInt(startDate) > parseInt(endDate)) {
                alert(JS_MESSAGE["search.date.warning"]);
                $("#startDate").focus();
                return false;
            }
        }
        return true;
    }
</script>
</th:block>
</body>
</html>
