<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layouts/default">
<head>
    <meta charset="utf-8">
    <title>메인</title>
    <th:block layout:fragment="pageCustomStyle">
        <link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
        <link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
        <link rel="stylesheet" th:href="@{/externlib/normalize/normalize.min.css(cacheVersion=${contentCacheVersion})}" />
        <link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}">
        <link rel="stylesheet" th:href="@{/externlib/chart-js-2.9.3/Chart.min.css(cacheVersion=${contentCacheVersion})}">
        <link rel="stylesheet" th:href="@{/css/fontawesome-free-5.2.0-web/css/all.min.css(cacheVersion=${contentCacheVersion})}">
        <link rel="stylesheet" th:href="@{/css/{lang}/admin-style.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />

        <script type="text/javascript" th:src="@{/externlib/vue-2.6.14/vue.min.js}"></script>
        <script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
        <script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
        <script type="text/javascript" th:src="@{/externlib/chart-js-2.9.3/Chart.min.js(cacheVersion=${contentCacheVersion})}"></script>
        <script type="text/javascript" th:src="@{/externlib/handlebars-4.1.2/handlebars.js(cacheVersion=${contentCacheVersion})}"></script>
        <script type="text/javascript" th:src="@{/js/{lang}/handlebars-helper.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>

        <script type="text/javascript" th:src="@{/externlib/spinner/progressSpin.min.js(cacheVersion=${contentCacheVersion})}"></script>
        <script type="text/javascript" th:src="@{/externlib/spinner/raphael.js(cacheVersion=${contentCacheVersion})}"></script>

        <script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang}, cacheVersion=${contentCacheVersion})}"></script>
        <script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang}, cacheVersion=${contentCacheVersion})}"></script>
        <script type="text/javascript" th:src="@{/js/navigation.js(cacheVersion=${contentCacheVersion})}"></script>
    </th:block>
</head>
<body>
<th:block layout:fragment="pageCustomContent">
    <div class="site-body">
        <div class="container">
            <div class="widgets">
                <div class="row">
                    <div class="widget widget-low widget-otp-usage full column">
                        <div class="widget-header row">
                            <div class="widget-heading u-pull-left">
                                <h3 class="widget-title">
                                    <th:block th:text="#{main.converter.status}"></th:block>
                                    <span class="widget-desc" th:text="${yearMonthDay}+'('+ #{main.today}+')'"></span>
                                </h3>
                            </div>
                        </div><!-- .widget-header -->
                        <div class="widget-content row">
                            <div class="one-third column banner-container">
                                <div class="banner info-generates">
                                    <div>
                                        <div class="info-device">
                                            <span class="icon-glyph glyph-plus-circle"></span>
                                            <span class="info-numbers"></span>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="banner-title" th:text="#{main.converter.new}"></span>
                                        <span id="firstCountSpinner" class="banner-number"></span>
                                        <span class="banner-unit" th:text="${converterTotalCount} + #{main.count}"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="one-third column banner-container">
                                <div class="banner info-success">
                                    <div>
                                        <div class="info-device">
                                            <span class="icon-glyph glyph-check-circle"></span>
                                            <span class="info-numbers"></span>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="banner-title" th:text="#{main.converter.success}"></span>
                                        <span id="secondeCountSpinner" class="banner-number"></span>
                                        <span class="banner-unit" th:text="${converterSuccessCount} + #{main.count}"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="one-third column banner-container">
                                <div class="banner info-failures">
                                    <div>
                                        <div class="info-device">
                                            <span class="icon-glyph glyph-emark-circle"></span>
                                            <span class="info-numbers"></span>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="banner-title" th:text="#{main.converter.fail}"></span>
                                        <span id="thirdCountSpinner" class="banner-number"></span>
                                        <span class="banner-unit" th:text="${converterFailCount} + #{main.count}"></span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .widget-content -->
                    </div><!-- .widget -->

                    <th:block th:each="dbWidget : ${widgetList}">
                       <!-- [[${dbWidget.widgetId}]]: [[${dbWidget.widgetName}]]-->
                       <div th:id="${dbWidget.widgetId}" th:include="('/widget/' + ${dbWidget.widgetKey}) :: (${dbWidget.widgetKey})" class="widget one-third column" style="font-size: 16px;">
                       </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{/widget/issue-template :: #issueListSource}"></div>

</th:block>
<th:block layout:fragment="pageCustomScript">

    <script th:inline="javascript">
        Chart.platform.disableCSSInjection = true;

        var refreshTime = [[${widgetInterval}]] * 1000;

        $(document).ready(function() {
            var autoRefresh = [[${autoRefresh}]];
            if(autoRefresh) {
                // Active 일때만 화면을 갱신함
                setInterval(refreshMain, refreshTime);
            }
        });

        var refreshJobs = [];
        function refreshMain() {
            console.log("====================> {}", refreshJobs.length);
            for (var job in refreshJobs) {
                if (typeof(job) === "function") {
                    job.call();
                }
            }
        }

        // 데이터 Location 정보 변경 요청 이력
        function callDataAdjustLogWidget() {
            dataAdjustLogWidget();
            setInterval(dataAdjustLogWidget, refreshTime);
        }

        // 시스템 리소스 현황
        function callSystemResourceWidget() {
            systemResourceWidget();
            setInterval(systemResourceWidget, refreshTime);
        }

        // 스케줄
        function callScheduleWidget() {
            scheduleWidget();
            setInterval(scheduleWidget, refreshTime);
        }
        // API 호출 이력
        function callApiLogWidget() {
            apiLogWidget();
            setInterval(apiLogWidget, refreshTime);
        }

        function goMagoAPIGuide() {
            var url = "/guide/help";
            var width = 1200;
            var height = 800;

            // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음
            var popupX = (window.screen.width / 2) - (width / 2);
            var popupY = (window.screen.height / 2) - (height / 2);

            var popWin = window.open(url, "", "toolbar=no, width=" + width + " ,height=" + height + ", top=" + popupY + ", left=" + popupX +
                    ", directories=no,status=yes,scrollbars=no,menubar=no,location=no");
            return false;
        }
    </script>
</th:block>
</body>