<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<head>
	<meta charset="UTF-8">
	<meta name="Description" th:content="#{common.meta.content}" />
	<meta name="Keywords" content="" />
	<meta name="author" content="Gaia3D" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<title><th:block th:text="#{signup.page.title}"></th:block></title>
	<link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/css/{lang}/user-style.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
</head>
<body>
<div id="loginwrap">
<div id="find-password">
	<h2 class="find-password"><th:block th:text="#{common.find.password}"></th:block></h2>
	<form class="find-password-select" id="findPasswordForm" th:object="${userInfo}" method="post" action="/sign/password/process-find" onsubmit="return check()">
		<fieldset>
			<legend><th:block th:text="#{common.find.password}"></th:block></legend>
			<label for="userName"><th:block th:text="#{common.user.name}"></th:block><span class="join-key">*</span></label>
			<input type="text" id="userName" name="userName" class="inputname" />

			<label for="email"><th:block th:text="#{common.email}"></th:block><span class="find-password-key">*</span></label>
			<input type="text" id="email" name="email" class="inputemail" th:field="*{email}"/>
			<div class="btnarea">
				<button type="submit" class="btn-find-password"><th:block th:text="#{common.find}"></th:block></button>
				<button type="button" href="/sign/signin" class="btn-go-login"><th:block th:text="#{common.sign.in}"></th:block></button>
			</div>
		</fieldset>
	</form>	
	<div class="copyright">ⓒ Gaia3d Corp. All Rights Reserved.</div>
</div>
</div>
</body>
<script type="text/javascript">
	$(document).ready(function() {
		if("[[${userInfo.errorCode}]]"){
			var errorCode = "[[${userInfo.errorCode}]]";
			alert(JS_MESSAGE[errorCode]);
		}
	});

	function check() {

		if ($("#userName").val() == "") {
			alert(JS_MESSAGE["user.name.empty"]);
			$("#userName").focus();
			return false;
		}

		if ($("#email").val() == "") {
			alert(JS_MESSAGE["user.email.empty"]);
			$("#email").focus();
			return false;
		}
	}

</script>
</html>
