<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><th:block th:text="#{signin.page.title}"></th:block></title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico(cacheVersion=${contentCacheVersion})}" />
    <link rel="stylesheet" th:href="@{/css/font/font.css(cacheVersion=${contentCacheVersion})}" />
    <link rel="stylesheet" th:href="@{/css/user-style.css(cacheVersion=${contentCacheVersion})}" />
    <script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
    <script type="text/javascript" th:src="@{/js/common.js(cacheVersion=${contentCacheVersion})}"></script>
    <script type="text/javascript" th:src="@{/js/messages_{lang}.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
</head>
<body>
<div id="loginwrap">
<div id="login">
    <form class="select-lang">
        <select id="userLocale" name="userLocale" class="language" onchange="changeLanguage(this.value);">
            <option value="ko"><th:block th:text="#{common.korea}"></th:block></option>
            <option value="en"><th:block th:text="#{common.english}"></th:block></option>
        </select>
    </form>
    <div class="login-wrapper">
        <img th:src="@{/images/mago3d_logo.png}" th:alt="#{logo.alt}" />
        <form id="signinForm" th:object="${signinForm}" method="post" action="/sign/process-signin" autocomplete="off">
            <fieldset>
                <legend><th:block th:text="#{signin.legend}"></th:block></legend>
                <label for="userId"><span class="blind" ><th:block th:text="#{common.id}"></th:block></span></label>
                <input type="text" id="userId" name="userId" class="inputid" th:title="#{common.id}" th:placeholder="#{common.id}" required="required" autofocus="autofocus" />
                <label for="password"><span class="blind"><th:block th:text="#{common.password}"></th:block></span></label>
                <input type="password" id="password" name="password" class="inputpwd" th:title="#{common.password}" th:placeholder="#{common.password}" required="required" />
                <button type="submit" class="btn-login"><th:block th:text="#{common.sign.in}"></th:block></button>
            </fieldset>
        </form>
        <ul class="join">
        <!--
            <li class="on"><a href="/sign/signup"><th:block th:text="#{common.sign.up}"></th:block></a></li>
            <li><a href="/sign/password/find"><th:block th:text="#{common.find.password}"></th:block></a></li>
         -->
        </ul>
        <hr class="h20">
        <div class="autologin">
            <span><th:block th:text="#{common.social.sign.in}"></th:block></span>
            <ul>
                <li><a href="/sign/google" class="login-google" th:title="#{social.sign.in.google}"></a></li>
            <!--
                <li><a href="/sign/facebook" class="login-facebook" th:title="#{social.sign.in.facebook}"></a></li>
                <li><a href="/sign/naver" class="login-naver" th:title="#{social.sign.in.naver}"></a></li>
                <li><a href="/sign/kakao" class="login-kakao" th:title="#{social.sign.in.kakao}"></a></li>
            -->
            </ul>
        </div>
    </div>
    <div class="copyright">ⓒ Gaia3d Corp. All Rights Reserved.</div>
</div>
</div>
</body>

<script type="text/javascript">

    $(document).ready(function() {
        var lang = "[[${lang}]]";
        $("#userLocale").val(lang);
        if("[[${signinForm.errorCode}]]"){
            var errorCode = "[[${signinForm.errorCode}]]";
            alert(JS_MESSAGE[errorCode]);
        }
    });

    function changeLanguage(lang) {
        $.ajax({
            url: "/languages/" + lang,
            type: "GET",
            headers: {"X-Requested-With": "XMLHttpRequest"},
            dataType: "json",
            success: function(msg){
                if(msg.statusCode <= 200) {
                    alert(JS_MESSAGE["change"]);
                    location.reload();
                }else {
                    alert(JS_MESSAGE[msg.errorCode]);
                }
            },
            error:function(request, status, error){
                console.log("code : " + request.status + "\n" + "message : " + request.responseText + "\n" + "error : " + error);
                alert(JS_MESSAGE["ajax.error.message"]);
            }
        });
    }
</script>
</html>