<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title><th:block th:text="#{signup.complete.page.title}"></th:block></title>
	<link rel="shortcut icon" th:href="@{/images/favicon.ico(cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/css/{lang}/user-style.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
</head>
<body>
<div id="loginwrap">
	<div id="signup-complete">
		<div class="login-wrapper" style="margin-top: 50px;">
			<img th:src="@{/images/{lang}/mago3d_logo.png(lang=${lang})}" th:alt="#{mago3d.logo.alt}" style="margin-top: 50px;"/>
			<p class="stitle"><th:block th:text="#{signup.complete}"></th:block></p>
	<th:block th:if="${#strings.equals(signupType, 'APPROVAL')}">
			<p class="stitle"><th:block th:text="#{usersession.status.waiting.approval}"></th:block></p>
	</th:block>
			<p class="stitle"><th:block th:text="#{user.basic}"></th:block></p>
			<p class="stitle"><th:block th:text="#{membership.change.benefit}"></th:block></p>
			<div class="btnarea">
				<a href="/sign/signin"><button type="button" class="btn-join"><th:block th:text="#{common.sign.in}"></th:block></button></a>
			</div>
			<div class="copyright">ⓒ Gaia3d Corp. All Rights Reserved.</div>
		</div>
	</div>
</div>
</body>
</html>
