<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title><th:block th:text="#{signup.page.title}"></th:block></title>
	<link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/css/{lang}/user-style.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
</head>
<body class="bggray">
<div id="join">
	<h2 class="join"><th:block th:text="#{common.sign.up}"></th:block></h2>
	<form class="join-select " id="signupForm" th:object="${signupForm}" method="post" action="/sign/process-social-signup" onsubmit="return check()">
		<fieldset>
			<legend><th:block th:text="#{common.sign.up}"></th:block></legend>

			<label for="userId"><th:block th:text="#{common.id}"></th:block><span class="join-key">*</span></label>
			<input type="text" id="userId" name="userId" class="inputid" />

			<label for="userName"><th:block th:text="#{common.user.name}"></th:block><span class="join-key">*</span></label>
			<input type="text" id="userName" name="userName" class="inputname" th:field="*{userName}" readonly/>

			<label for="email"><th:block th:text="#{common.email}"></th:block><span class="join-key">*</span></label>
			<input type="text" id="email" name="email" class="inputemail" th:field="*{email}" style="width: 340px;" readonly/>			
		</fieldset>
		<div class="btnarea">
			<button type="submit" class="btn-join"><th:block th:text="#{common.sign.up}"></th:block></button>
			</div>
	</form>
	<div class="copyright">ⓒ Gaia3d Corp. All Rights Reserved.</div>
</div>
<!-- /.join -->
</body>
<script type="text/javascript">
	$(document).ready(function() {
		if("[[${signupForm.errorCode}]]"){
			var errorCode = "[[${signupForm.errorCode}]]";
			alert(JS_MESSAGE[errorCode]);
		}
	});

	function check() {
		if ($("#userId").val() == "") {
			alert(JS_MESSAGE["user.id.empty"]);
			$("#userId").focus();
			return false;
		}
		if ($("#userName").val() == "") {
			alert(JS_MESSAGE["user.name.empty"]);
			$("#userName").focus();
			return false;
		}
		if ($("#email").val() == "") {
			alert(JS_MESSAGE["user.email.empty"]);
			$("#email").focus();
			return false;
		}
	}

</script>
</html>
