<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title>OpenIndoorMap - Map</title>
    <link rel="stylesheet" href="/externlib/cesium-1.44/Widgets/widgets.css">
    <style type="text/css">
    #objectLabel {
        background-color: transparent;  /* needed because webgl-tutoraisl.css sets canvas bg color to white */
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 999;
        pointer-events:none;
    }

    .mapSetup {
        position: absolute;
        top:5px;
        left:5px;
        
    }

    #mapToolTab {
        position: absolute;
        width: 350px;
    }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <!-- S: 맵 -->
        <div style="position: relative;">
            <div id="magoContainer"></div>
            <canvas id="objectLabel"></canvas>
            <!-- E: 맵 -->
            <div class="mapSetup">
                <a role="button" id="mapSetup" class="btn bg-gray" data-widget="setup" data-toggle="tooltip" title="setup" onclick="toggleMapToolTab();">
                    <i class="fa fa-cog"></i>
                </a>        
            <div id="mapToolTab" style="display: none;">
                <ul>
                    <li><a href="#basicOperation">지도설정</a></li>
                </ul>
                <div id="basicOperation">
                    <div>
                        <h3 style="font-size: 14px; font-weight: normal;">라벨</h3>
                        <input type="radio" id="showLabel" name="labelInfo" value="true" onclick="changeLabel(true);" />
                        <label for="showLabel"> 표시 </label>
                        <input type="radio" id="hideLabel" name="labelInfo" value="false" onclick="changeLabel(false);"/>
                        <label for="hideLabel"> 비표시 </label>
                    </div>
                    <div>
                        <h3 style="font-size: 14px; font-weight: normal;">객체 정보</h3>
                        <input type="radio" id="showObjectInfo" name="objectInfo" value="true" onclick="changeObjectInfoViewMode(true);" />
                        <label for="showObjectInfo"> 표시 </label>
                        <input type="radio" id="hideObjectInfo" name="objectInfo" value="false" onclick="changeObjectInfoViewMode(false);"/>
                        <label for="hideObjectInfo"> 비표시 </label>
                    </div>
                    <div>
                        <h3 style="font-size: 14px; font-weight: normal;">원점</h3>
                        <input type="radio" id="showOrigin" name="origin" value="true" onclick="changeOrigin(true);" />
                        <label for="showOrigin"> 표시 </label>
                        <input type="radio" id="hideOrigin" name="origin" value="false" onclick="changeOrigin(false);"/>
                        <label for="hideOrigin"> 비표시 </label>
                    </div>
                    <div>
                        <h3 style="font-size: 14px; font-weight: normal;">경계 영역</h3>
                        <input type="radio" id="showBoundingBox" name="boundingBox" value="true" onclick="changeBoundingBox(true);" />
                        <label for="showBoundingBox"> 표시 </label>
                        <input type="radio" id="hideBoundingBox" name="boundingBox" value="false" onclick="changeBoundingBox(false);"/>
                        <label for="hideBoundingBox"> 비표시 </label>
                    </div>
                    <div>
                        <h3 style="font-size: 14px; font-weight: normal;">선택 및 이동</h3>
                        <input type="radio" id="objectNoneMove" name="objectMoveMode" value="2" onclick="changeObjectMove('2');"/>
                        <label for="objectNoneMove">None</label>
                        <input type="radio" id="objectAllMove" name="objectMoveMode" value="0" onclick="changeObjectMove('0');"/>
                        <label for="objectAllMove">All</label>
                        <input type="radio" id="objectMove" name="objectMoveMode" value="1" onclick="changeObjectMove('1');"/>
                        <label for="objectMove">Object</label>
                    </div>
                    <div>
                        <h3 style="font-size: 14px; font-weight: normal;">GML 타입 선택</h3>
                        <input type="radio" id="gmlTypeCitygml" name="gmlType" value="0" onclick="changeGMLType(0);"/>
                        <label for="gmlTypeCitygml">only CityGML</label>
                        <input type="radio" id="gmlTypeIndoorgml" name="gmlType" value="1" onclick="changeGMLType(1);"/>
                        <label for="gmlTypeIndoorgml">only IndoorGML</label>
                        <input type="radio" id="gmlTypeBoth" name="gmlType" value="2" onclick="changeGMLType(2);"/>
                        <label for="gmlTypeBoth">both</label>
                    </div>
                    <div id="SettingGmlSpaces">
                        <h3 style="font-size: 14px; font-weight: normal;">IndoorGML 객체 가시화</h3>
                        <input type="radio" id="showGmlSpaces" name="gmlSpaces" value="true" onclick="changeGMLSpaces(true);" />
                        <label for="showIndoorgml"> 표시 </label>
                        <input type="radio" id="hideGmlSpaces" name="gmlSpaces" value="false" onclick="changeGMLSpaces(false);"/>
                        <label for="hideIndoorgml"> 비표시 </label>
                    </div>
                    <div id="SettingGmlAlpha">
                        <h3 style="font-size: 14px; font-weight: normal;">불투명 계수</h3>
                        <div id="gml_alpha_coef" style="display: inline-block; width: 65%;">
                            <div id="geo_gml_alpha_coef_view" class="ui-slider-handle"></div>
                            <input type="hidden" id="geo_gml_alpha_coef" name="geo_gml_alpha_coef" value="0.5" />
                        </div>
                        <button type="button" id="changeGMLAlphaButton">변경</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <th:block layout:fragment="script">
        <script type="text/javascript" src="/externlib/cesium-1.44/Cesium.js"></script>
        <script type="text/javascript" src="/externlib/mago3d/mago3d.js"></script>

        <script th:inline="javascript">
        /*<![CDATA[*/
            var policyJson = /*[[${policyJson}]]*/ "{}";
            policyJson = JSON.parse(policyJson);
            policyJson.geo_callback_enable = "false";
            // policyJson.geo_callback_enable = "true";
            // policyJson.geo_callback_apiresult = "showApiResult";
            policyJson.geo_callback_dataInfo = "showDataInfo";
            policyJson.geo_callback_selectedobject = "showSelectedObject";
            policyJson.geo_callback_moveddata = "showMovedData";
            policyJson.geo_callback_insertissue = "showInsertIssueLayer";
            // policyJson.geo_callback_clickposition = "showClickPosition";
            policyJson.geo_callback_clickposition = "";
            
            var initProjectJsonMap = /*[[${initProjectJsonMap}]]*/ "{}";
            initProjectJsonMap = JSON.parse(initProjectJsonMap);
            var initProjectsLength = /*[[${initProjectsLength}]]*/ 0;
        /*]]>*/
        </script>
        
        <script type="text/javascript">
            function toggleMapToolTab(){
                $('#mapToolTab').toggle();
            }
            $(function () {
                $("#mapToolTab").tabs({
                    collapsible: false
                });
            });

            $(window).bind('resizeEnd', function() {
                $('#magoContainer').height($('.main-sidebar').height() - $('footer').outerHeight(true));
            });

            function contentsResize() {
                if(this.resizeTO) clearTimeout(this.resizeTO);
                this.resizeTO = setTimeout(function() {
                    $(this).trigger('resizeEnd');
                }, 100);
            }

            window.onload = contentsResize;
            window.onresize = contentsResize;

            var MAP_NOTE_ID = null;
            var agent = navigator.userAgent.toLowerCase();
            if (agent.indexOf('chrome') < 0) {
                alert("This page is optimized for the Chrome browser for massive data processing.\n Please use the Chrome browser for seamless service.");
            }

            var drawHelper = null;
            var isDrawFeature = {
                isDraw: false,
                type: '',
                target: ''
            }
            
            var managerFactory = null;
            var imagePath = "/images";
            var dataInformationUrl = "/persistence/json/";
            magoStart(null, "magoContainer", imagePath);
            var intervalCount = 0;
            var timerId = setInterval("startMogoUI()", 1000);

            var _gmlType = 2;	// citygml/indoorgml
            var _gmlSpaces = false;	// hide indoorgml spaces
            var _gmlAlpha = 0.5;	// indoorgml space's opacity
            function startMogoUI() {
                intervalCount++;
                if (managerFactory != null && managerFactory.getMagoManagerState() === CODE.magoManagerState.READY) {
                    var viewer = managerFactory.getViewer();
                    // Label 표시
                    changeLabel(false);
                    // object 정보 표시
                    changeObjectInfoViewMode(false);
                    // Origin 표시
                    changeOrigin(false);
                    // BoundingBox
                    changeBoundingBox(false);
                    // Selecting And Moving
                    changeObjectMove("2");
                    // slider, color-picker
                    initRendering();
                    // 3PView Mode
                    changeViewMode(false);
                    // Render CityGML/IndoorGML
                    changeGMLType(_gmlType);
                    changeGMLSpaces(_gmlSpaces);
                    changeGMLAlpha(_gmlAlpha);
            
                    clearInterval(timerId);
                    console.log(" managerFactory != null, managerFactory.getMagoManagerState() = " + managerFactory.getMagoManagerState() + ", intervalCount = " + intervalCount);
                    return;
                }
                console.log("--------- intervalCount = " + intervalCount);
            }

            // mago3d 시작, 정책 데이터 파일을 로딩
            function magoStart() {
                if(initProjectsLength === null || initProjectsLength === 0) {
                    managerFactory = new ManagerFactory(null, "magoContainer", policyJson, null, null, null, imagePath);
                } else {
                    var projectIdArray = new Array(initProjectsLength);
                    var projectDataArray = new Array(initProjectsLength);
                    var projectDataFolderArray = new Array(initProjectsLength);
                    var index = 0;
                    for(var projectId in initProjectJsonMap) {
                        projectIdArray[index] = projectId;
                        var projectJson = JSON.parse(initProjectJsonMap[projectId]);
                        projectDataArray[index] = projectJson;
                        projectDataFolderArray[index] = projectJson.data_key;
                        index++;
                    }
                    
                    managerFactory = new ManagerFactory(null, "magoContainer", policyJson, projectIdArray, projectDataArray, projectDataFolderArray, imagePath);			
                }
            }
            function loadData(viewer, renderDivId, serverPolicy) {
                if (serverPolicy.geo_data_default_projects === null || serverPolicy.geo_data_default_projects.length < 1) {
                    managerFactory = new ManagerFactory(viewer, renderDivId, serverPolicy, null, null, null, imagePath);
                } else {
                    var defaultProjectArray = serverPolicy.geo_data_default_projects;
                    var projectIdArray = new Array(defaultProjectArray.length);
                    var projectDataArray = new Array(defaultProjectArray.length);
                    var projectDataFolderArray = new Array(defaultProjectArray.length);

                    var dataCount = 0;
                    defaultProjectArray.forEach(function (projectId, index) {
                        projectIdArray[index] = projectId;
                        //console.log("url = " + dataInformationUrl + projectId);
                        $.ajax({
                            url: dataInformationUrl + projectId,
                            type: "GET",
                            dataType: "json",
                            success: function (serverData) {
                                //console.log("index = " + index + ", data = " + serverData);
                                projectDataArray[index] = serverData;
                                projectDataFolderArray[index] = serverData.data_key;
                                if (defaultProjectArray.length === (dataCount + 1)) {
                                    createManagerFactory(viewer, renderDivId, serverPolicy, projectIdArray, projectDataArray, projectDataFolderArray, imagePath);
                                }
                                dataCount++;
                            },
                            error: function (e) {
                                alert(e.responseText);
                            }
                        });
                    });
                }
            }

            function createManagerFactory(viewer, renderDivId, serverPolicy, projectIdArray, projectDataArray, projectDataFolderArray, imagePath) {
                managerFactory = new ManagerFactory(viewer, renderDivId, serverPolicy, projectIdArray, projectDataArray, projectDataFolderArray, imagePath);
            }

            // 설정 메뉴 시작
            // Label 표시
            function changeLabel(isShow) {
                $("input:radio[name='labelInfo']:radio[value='" + isShow + "']").prop("checked", true);
                changeLabelAPI(managerFactory, isShow);
            }
            // object info 표시
            function changeObjectInfoViewMode(isShow) {
                $("input:radio[name='objectInfo']:radio[value='" + isShow + "']").prop("checked", true);
                changeObjectInfoViewModeAPI(managerFactory, isShow);
            }
            // Origin 표시/비표시
            function changeOrigin(isShow) {
                $("input:radio[name='origin']:radio[value='" + isShow + "']").prop("checked", true);
                changeOriginAPI(managerFactory, isShow);
            }
            // boundingBox 표시/비표시
            function changeBoundingBox(isShow) {
                $("input:radio[name='boundingBox']:radio[value='" + isShow + "']").prop("checked", true);
                changeBoundingBoxAPI(managerFactory, isShow);
            }
            // 마우스 클릭 객체 이동 모드 변경
            function changeObjectMove(objectMoveMode) {
                $("input:radio[name='objectMoveMode']:radio[value='" + objectMoveMode + "']").prop("checked", true);
                changeObjectMoveAPI(managerFactory, objectMoveMode);
                // ALL 인 경우 Origin도 같이 표시
                var originValue = $(':radio[name="origin"]:checked').val();
                if(objectMoveMode === "0") {
                    if(originValue === "true") {
                    } else {
                    }
                    changeOriginAPI(managerFactory, true);
                } else {
                    if(originValue === "true") {
                    } else {
                        changeOriginAPI(managerFactory, false);
                    }
                }
            }

            // 카메라 모드 전환
            function changeViewMode(isFPVMode) {
                $("input:radio[name='viewMode']:radio[value='" + isFPVMode + "']").prop("checked", true);
                changeFPVModeAPI(managerFactory, isFPVMode);
            }
    
            // rendering 설정
            function initRendering() {
                var gmlAlpha = $( "#geo_gml_alpha_coef_view" );
                $( "#gml_alpha_coef" ).slider({
                    range: "max",
                    min: 0, // min value
                    max: 1, // max value
                    step: 0.01,
                    value: '0.5', // default value of slider
                    create: function() {
                        gmlAlpha.text( $( this ).slider( "value" ) );
                    },
                    slide: function( event, ui ) {
                        gmlAlpha.text( ui.value);
                        $("#geo_gml_alpha_coef" ).val(ui.value);
                    }
                });
            }

            // change render gml state
            function changeGMLType(gmlType) {
                $("input:radio[name='gmlType']:radio[value='" + gmlType + "']").prop("checked", true);
                _gmlType = gmlType;
                if(_gmlType !== 0)
                {
                    $("#SettingGmlSpaces").show();
                    $("#SettingGmlAlpha").show();
                }
                else
                {
                    $("#SettingGmlSpaces").hide();
                    $("#SettingGmlAlpha").hide();
                }
                changeGMLRenderStateAPI(managerFactory, _gmlType, _gmlSpaces, _gmlAlpha);
            }

            function changeGMLSpaces(gmlSpaces) {
                $("input:radio[name='gmlSpaces']:radio[value='" + gmlSpaces + "']").prop("checked", true);
                _gmlSpaces = gmlSpaces;
                changeGMLRenderStateAPI(managerFactory, _gmlType, _gmlSpaces, _gmlAlpha);
            }

            function changeGMLAlpha(gmlAlpha) {
                _gmlAlpha = gmlAlpha;
                changeGMLRenderStateAPI(managerFactory, _gmlType, _gmlSpaces, _gmlAlpha);
            }

            // Gml 투명도 설정
            $("#changeGMLAlphaButton").click(function() {
                changeGMLAlpha(parseFloat($("#geo_gml_alpha_coef").val()));
            });

            // moved data callback
	        function showMovedData () {

            }
        </script>
    </th:block>
</body>

</html>