<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
    <div id="baseMapToggle" style="position: absolute;right: 50px;z-index: 1000;margin: 10px;cursor:pointer;">
        <div id="baseMapType-base" data-type="base" style="width:64px;height:58px;display: inline-block;border-radius: 5px;border: 1px solid #C6C6C6;">
        	<img th:src="@{/images/{lang}/ic_map_sat.png(lang=${lang},cacheVersion=${contentCacheVersion})}" style="border-radius: 5px;border: 1px solid #C6C6C6;">
        </div>
        <div id="baseMapType-normal" data-type="normal" style="width:64px;height:58px;display: inline-block;border-radius: 5px;border: 1px solid #C6C6C6">
        	<img th:src="@{/images/{lang}/ic_map_line.png(lang=${lang},cacheVersion=${contentCacheVersion})}" style="border-radius: 5px;border: 1px solid #C6C6C6;">
        </div>
        <div id="baseMapType-cadstral" data-type="cadstral" style="width:64px;height:58px;display: inline-block;border-radius: 5px;border: 1px solid #C6C6C6">
        	<img th:src="@{/images/{lang}/ic_map_land.png(lang=${lang},cacheVersion=${contentCacheVersion})}" style="border-radius: 5px;border: 1px solid #C6C6C6;">
        </div>
    </div>
</html>