<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
    <div id="mapCtrlWrap" class="mapCtrl">
        <!-- 선택시 button에 on클래스 추가 -->
        <div class="controlWrap">
            <button id="mapCtrlHome" class="go"><span><th:block th:text="#{map.control.home}"></th:block></span></button>
            <button id="mapCtrlFullScreen" class="fs"><span><th:block th:text="#{map.control.full}"></th:block></span></button>
            <button id="mapCtrlMeasure" class="ms"><span><th:block th:text="#{map.control.measure}"></th:block></span></button>
            <button id="mapCtrlDivide" class="ge"><span><th:block th:text="#{map.control.split}"></th:block></span></button>
            <button id="mapCameraFix" class="pf"><span><th:block th:text="#{map.control.fixed}"></th:block></span></button>
            <button id="mapRenderPosition" class="li"><span><th:block th:text="#{map.control.location}"></th:block></span></button>
            <button id="mapCtrlSetting" class="st"><span><th:block th:text="#{map.control.setting}"></th:block></span></button>
        </div>
        <div id="controlMeasureWrap" class="controlMeasureWrap" style="display: none">
            <button id="mapCtrlMeasureDistance" class="ms_di"><span><th:block th:text="#{map.control.distance}"></th:block></span></button>
            <button id="mapCtrlMeasureArea" class="ms_ar"><span><th:block th:text="#{map.control.area}"></th:block></span></button>
            <button id="mapCtrlMeasureHeight" class="ms_hi"><span><th:block th:text="#{map.control.height}"></th:block></span></button>
        </div>
        <div class="controlWrap">
            <button id="mapCtrlZoomIn" class="zi" title="확대"></button>
            <button id="mapCtrlZoomOut" class="zo" title="축소"></button>
        </div>

    </div>
</html>