<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="sunShineContent" class="contents yScroll fullHeight" style="display:none;">
    <ul class="listDrop">
        <li class="on">
            <p>경관 분석(일조분석)<span class="collapse-icon">icon</span></p>
            <div class="listContents">
                <ul class="analysisGroup">
                    <li style="display: none;">
                        <label for="solarTermDropDown">절기</label>
                        <select id="solarTermDropDown" name="solarTermDropDown" style="width: 170px;">
                            <option value="0">
                                선택없음
                            </option>
                            <option value="1">
                                춘분
                            </option>
                            <option value="2">
                                하지
                            </option>
                            <option value="3">
                                추분
                            </option>
                            <option value="4">
                                동지
                            </option>
                        </select>
                    </li>
                    <li>
                        <label>날짜</label>
                        <!-- <input class="" type="text" id="solayDatePicker" placeholder="" value=""/> -->
                        <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                            <input type="text" id="sunshine-datepicker-input" aria-label="Date-Time">
                            <span class="tui-ico-date"></span>
                        </div>
                        <div id="sunshineDatePicker" style="margin-top: -1px;"></div>
                    </li>
                    <li class="btns">
                        <button id="solarAnalysis" type="button" class="btnTextF execute" title="분석">분석</button>
                        <button id="solarAnalysisReset" type="button" class="btnText reset" title="취소">취소</button>
                        <!-- 자동실행 완료 후 실행됨 -->
                        <button  type="button" class="btnText show-result display-none" title="">결과표시</button>
                    </li>
                </ul>
            </div>
        </li>
<!--        <li>-->
<!--            <p th:text="점분석"><span class="collapse-icon">icon</span></p>-->
<!--            <div id="sunshineDotProcess" class="listContents">-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <label for="sunshoneDotToggle" th:text="활성화"></label>-->
<!--                        <input type="checkbox" id="sunshoneDotToggle" value="" placeholder=""/>-->
<!--                        <div id="timeControlsContainer" style="background-color: gray; width: 300px;height: 20px;">-->
<!--                        </div>-->
<!--                        <button type="button" id="sunshoneDotBtn" th:text="작동"></button>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li>-->
<!--            <p th:text="면분석"><span class="collapse-icon">icon</span></p>-->
<!--            <div id="sunshineAreaProcess" class="listContents">-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <label for="sunshineAreaToggle"  th:text="활성화"></label>-->
<!--                        <input type="checkbox" id="sunshineAreaToggle" value="" placeholder=""/>-->
<!--                        <button type="button" id="sunshineAreaBtn" th:text="작동"></button>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
    </ul>


    <!--일조분석 결과 모달-->
    <style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	.chart-container {
		width: 980px;
		/* margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 40px; */
	}
	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	</style>
	
    <div class="sunshine-result-report-modal" style="display: none;">
        <div class="chart-container" >
            <canvas class="chart" ></canvas>
        </div>

        <div class="table mt-10">
            <table class="sunshine-result-report-table" >
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
</html> 